[2016-02-28 10:23] ben-eb opened #2 "Recognise designers too?"
People who provide assets such as logos, iconography, or contribute to a project's visual design.

For emoji; how about this one? 🎨

[2016-02-28 16:08] kentcdodds commented on #2
That'd be great! Would you like to makeapullrequest.com?

[2016-02-28 16:17] ben-eb commented on #2
Sure thing, will do it this evening. :smiley:

[2016-02-28 18:34] #2 closed

[2016-02-28 19:52] RichardLitt opened #5 "Where are you using this?"
I'm curious about the meta plans for this repo. :)

[2016-02-28 22:21] kentcdodds commented on #5
I'm planning on using this in all of my libraries to encourage people to contribute and remind them that not all contributions are code. And to thank those who have contributed in any way to the project. Thanks for asking!

[2016-02-28 22:21] #5 closed

[2016-02-28 23:44] RichardLitt commented on #5
Cool! Good luck.

[2016-02-29 16:08] Jameskmonger opened #7 "Documentation icon linking to commits"
The documentation icon on the three contributors in `README.md` links to commits by that user. The info in `README.md` doesn't explain this, as the field next to `Documentation` is empty.

[2016-02-29 16:37] chrissimpkins opened #8 "Use CONTRIBUTORS.md instead of README.md"
+1 I completely agree.

For projects with a small number of contributors, this will work well under a Contributors heading on a README page.  For larger, very active projects where hundreds (or more) individuals might meet these criteria, this list will be far too large to include on a project README.md file.  I'd recommend that you consider spec'ing a separate CONTRIBUTORS.md page dedicated to th

[2016-02-29 16:41] kentcdodds commented on #7
Thanks for pointing that out...

I'm actually not sure what to do about this. Sometimes documentation lives in the README.md, other times it lives in a separate site... I'm thinking that we'll just say that it should be linked to any relevant information indicating their contributions (whether that be their commits to the project or otherwise). Wanna make a PR (be sure to add yourself to the list

[2016-02-29 16:43] kentcdodds commented on #8
Agreed. Angular or React for example have a TON of contributors in various forms. I'm not even sure this is feasible for a project of that popularity. But I want it to be possible. Do you want to add a disclaimer like this to the spec? Make sure to add yourself to the list of contributors per the spec ;-)

[2016-02-29 17:11] Jameskmonger commented on #7
I don't necessarily object to it not linking to their commits, @kentcdodds.. just think that the documentation in this project's `README.md` should explain the link (if any).

[2016-02-29 17:18] kentcdodds commented on #7
Right, agreed.

[2016-02-29 17:29] chrissimpkins opened #9 "Consider a more explicit and simpler contributor acknowledgment workflow for project maintainers and contributors"
My workflow for acknowledgment of user efforts currently includes a scan of included issue reports and pull requests with each new release, followed by an update of the project CONTRIBUTORS.md file.  I attempt to link contributor GitHub accounts with their name on the CONTRIBUTORS.md page.  This is a time consuming manual task for projects with a low-moderate number of contributors and I would ven

[2016-02-29 17:30] Jameskmonger commented on #7
I'll submit a PR in a few minutes, @kentcdodds :smile:

[2016-02-29 17:31] chrissimpkins commented on #8
I have some additional thoughts alternating the maintainer and contributor hats (in #9) that expand on this suggestion.  Will close this IR and look forward to your thoughts there.

[2016-02-29 17:31] #8 closed

[2016-02-29 17:54] kentcdodds commented on #9
Yeah, this definitely adds some overhead. You may be interested in what @jfmengels is working on [here](https://github.com/jfmengels/all-contributors-cli).

I definitely feel like having an external CONTRIBUTORS.md is acceptable for projects with a ton of contributors.

You may also be interested in what @mgechev is working on [here](https://github.com/mgechev/github-contributors-list). Though thi

[2016-02-29 18:02] #7 closed

[2016-02-29 18:03] chrissimpkins commented on #9
By this you mean that all who report an issue, submit a pull request, or contribute to the conversation in an issue report / pull request GitHub thread are included as project contributors?

[2016-02-29 18:18] kentcdodds commented on #9
Yes, that's what I mean. Each of those scenarios you mentioned are valuable contributions to a project. But like I said:

[2016-02-29 18:46] krmaxwell commented on #9
Just to throw in a :+1: for the spec supporting this in CONTRIBUTORS.md because, in large or even medium sized projects, this could get out of control. Additionally, some projects use their README.md for their primary documentation, which means it's already quite a lot of info for users to peruse.

None of that should take away from the fantastic effort to recognize and encourage all sorts of comm

[2016-02-29 18:50] kentcdodds commented on #9
Yeah, I'm personally not convinced that using a `CONTRIBUTORS.md` file accomplishes nearly what putting it in the `README.md` does. So I'd say that you'd need a lot of contributors before you move it out. I'm willing to accept a PR that adds this disclaimer allowing maintainer prerogative on this subject, but I want the language to indicate that the preference is somewhere prominent for the projec

[2016-02-29 19:09] Jameskmonger commented on #9
Sadly I don't think I've ever looked in a `CONTRIBUTORS.md` file, so I'm going to have to agree with @kentcdodds

[2016-02-29 19:10] kentcdodds commented on #9
Yeah. It's gotta be somewhere where people can't help but see it for it to have the right effect of truly showing recognition and appreciation.

[2016-02-29 19:30] chrissimpkins commented on #9
From https://github.com/kentcdodds/all-contributors/issues/9#issuecomment-190318041

We may differ in opinion here, but my feeling is that this is too inclusive of a definition as a project contributor and opens the automated approaches that you recommended to abuse.  An all comers (rather than moderated all contributors) approach assumes that users use issue reports for project contributions alon

[2016-02-29 19:36] kentcdodds commented on #9
I think you're misunderstanding what I'm saying. I'm not saying that anyone who files an issue gets on the list. I'm saying anyone who contributes to the project gets on the list. Contributions include anything listed in the specification. It says nothing about people who ask questions or file duplicates. But people who file bugs or answer questions certainly are contributing to the project.

I ac

[2016-02-29 19:37] chrissimpkins commented on #9
@Jameskmonger & @kentcdodds

I think that this effectively eliminates use in large projects distributed over a number of maintainers where I feel that this is likely most valuable and needed!

[2016-02-29 19:40] kentcdodds commented on #9
Right... As I said:

[2016-02-29 20:30] chrissimpkins commented on #9
Yes it does.  Thank you.  I misunderstood your original response to the question and the automated link/image generators.

For point 1, this is actually an implementation issue and probably not an issue for your spec though I do see it as a problem.  Automation won't be granular enough to define contributors, manual maintainer driven tasks will will be onerous for extremely active projects.  Users

[2016-02-29 20:35] kentcdodds commented on #9
Glad we got that worked out :+1:

So I definitely recommend that all projects have a `CONTRIBUTING.md` file to define _how_ to contribute, but I think that if a project wants to follow the spec, they can just direct people to this spec for them to know _what_ contributions will result in them being added. As I said, projects can feel free to divert from the spec and they could specify that diversi

[2016-02-29 20:58] chrissimpkins commented on #9
Simply stated, the emoji list will not be explicit and project-specific enough to define the term contributor.  It is good to have these general categories that include guidance about non-source code contributions.  I think that this is an important first step to actually acknowledge that these are important contributions to a project irrespective of the way in which GitHub classifies a contributo

[2016-02-29 21:04] kentcdodds commented on #9
:+1: sold. Thanks for explaining. I'm happy to accept a PR that adds both of those to the spec, (ensuring that the language leans toward ensuring the list is in a prominent place if reasonable).

Be sure to add yourself to the list of contributors ;-)

Thanks!

[2016-03-01 03:46] chrissimpkins commented on #9
#12

[2016-03-01 14:51] kentcdodds commented on #9
#12 merged

[2016-03-01 14:51] #9 closed

[2016-03-01 15:53] kentcdodds opened #13 "Reformat Contributors"
It's crazy long. I'm thinking of doing something like [this](https://github.com/mgechev/angular2-seed#contributors):

<img width="899" alt="screen shot 2016-03-01 at 8 53 34 am" src="https://cloud.githubusercontent.com/assets/1500684/13432494/18edee04-df8b-11e5-9ec5-1c94de5c1dd8.png">

Will submit a PR soon.

[2016-03-01 16:22] kentcdodds commented on #13
Whoops... Didn't mean to close this...

[2016-03-01 17:33] chrissimpkins opened #15 "Create an contributors table/gallery Markdown examples page"
Perhaps as EXAMPLES.md?

[2016-03-01 17:49] chrissimpkins opened #16 "Alt category text when user hovers over Contribution Category emoji icon"
Maybe a built in key for the emoji by including alt text that specifies the category that it represents?

[2016-03-01 19:10] frigginglorious opened #18 "There has to be a way to automate this"
For github in particular, It probably could be automated from an API.

Or has anyone tried to add a shell script that parses pages like the contributor page (eg https://github.com/kentcdodds/all-contributors/graphs/contributors) that updates and replaces a contributor table at the bottom of README.md?

Maybe not. Doing it that way would be hardly foolproof, and difficult to organize.

[2016-03-01 19:23] kentcdodds commented on #18
The challenge with fully automating it is that you'd have trouble automating when someone posts a blogpost, gives a talk, is constructively reviewing a PR, or answering questions on Stack Overflow (just to name a few examples, not to mention the difficulty with telling the difference between a code contribution and a design/test contribution).

However, I think that we can make it easier to mainta

[2016-03-01 19:30] chrissimpkins commented on #18
While I really hesitate to propose additional repository meta files, a JSON or YAML file spec could help here and tools could be built around it.

Ugh, did I just say that...

[2016-03-01 19:32] kentcdodds commented on #18
I agree that a config spec would be nice. Here's a start maybe: https://github.com/jfmengels/all-contributors-cli/issues/1

[2016-03-01 21:33] chrissimpkins commented on #18
@kentcdodds @jfmengels looks like it is coming together already!

[2016-03-01 21:34] jfmengels commented on #18
Trying to :)

[2016-03-01 21:45] jfmengels opened #19 "Contributor info change requests"
I'm wondering whether the spec should describe the behavior of the maintainers when a contributor asks to change his info (let's say by submitting a PR with the updates).

For example, if I was a contributor of a given project two years ago, and want to
- change my avatar
- the url my avatar links to
- add the link to a video of a talk I made on the
- remove a link
- change my name
- remove myself

[2016-03-01 21:58] kentcdodds commented on #19
I agree that it'd be really silly if a maintainer rejected a request to change info. I don't think we could really enforce anything anyway. If someone were being a jerk enough to not accept a change, they'd probably not follow our instructions to accept the change anyway...

Thoughts?

[2016-03-01 22:21] chrissimpkins commented on #15
Wow.  The pandoc conversion from Markdown to rst for a six wide table:

[code]

I'm thinking that we encourage use of Markdown with automated conversion to rst rather than providing rst templates...

[2016-03-01 22:22] kentcdodds commented on #15
Lol, that's hilarious. I agree :-)

[2016-03-01 22:22] chrissimpkins commented on #15
That is definitely not for human use... :)

[2016-03-01 22:49] chrissimpkins commented on #15
#20

[2016-03-01 23:03] Jameskmonger commented on #13
Can this be closed now @kentcdodds ?

[2016-03-01 23:04] kentcdodds commented on #13
Ah, yes, it can. Thanks!

[2016-03-01 23:04] #13 closed

[2016-03-01 23:05] Jameskmonger commented on #16
Yeah I'd like to see this too. It'd make it easier for projects to adopt because they wouldn't (necessarily) have to have the emoji key on their own repo.

[2016-03-01 23:05] Jameskmonger commented on #16
(sorry for closing! clicked the wrong button by accident. reopened)

[2016-03-01 23:21] chrissimpkins opened #21 "Badges"
Everyone loves a badge :)  Link it to the contributors list?

![All Contributors](https://img.shields.io/badge/Contributors-All-blue.svg?style=flat)

![All Contributors](https://img.shields.io/badge/Contributors-All-green.svg?style=flat)

![All Contributors](https://img.shields.io/badge/Contributors-All-red.svg?style=flat)

![All Contributors](https://img.shields.io/badge/Contributors-All-orange.s

[2016-03-01 23:28] kentcdodds commented on #21
I've been thinking about that too. Would love ideas from other contributors as well!

I personally like the flat-square style, and I'd prefer to be able to read it like it's in a sentence, so how about these?

![All Contributors](https://img.shields.io/badge/All-Contributors-blue.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/All-Contributors-green.svg?style=flat-square)

[2016-03-01 23:29] kentcdodds commented on #21
Or how about:

![All Contributors](https://img.shields.io/badge/Contributions-Welcome-blue.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/Contributions-Welcome-green.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/Contributions-Welcome-red.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/Contributions-Welcome-orange.svg?sty

[2016-03-01 23:29] kentcdodds commented on #21
Or maybe lower case...

![All Contributors](https://img.shields.io/badge/contributons-welcome-blue.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/contributons-welcome-green.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/contributons-welcome-red.svg?style=flat-square)

![All Contributors](https://img.shields.io/badge/contributons-welcome-orange.sv

[2016-03-01 23:30] kentcdodds commented on #21
And of course, we'd recommend that it link to [the spec](https://github.com/kentcdodds/all-contributors) right?

[2016-03-01 23:37] Jameskmonger commented on #21
I prefer `all contributors` to `contributors welcome`, the `contributors welcome` badge to me doesn't say much other than `accepting pull requests`.

[2016-03-01 23:38] kentcdodds commented on #21
Agreed.

[2016-03-01 23:38] kentcdodds commented on #21
I'm leaning toward: ![All Contributors](https://img.shields.io/badge/all-contributors-orange.svg?style=flat-square)

[2016-03-02 01:17] chrissimpkins commented on #21
I like `contributors all` or `all contributors` and don't have a strong opinion one way or the other about the case.

As for the link, it really depends upon whether you want to emphasize the project's contributors or the specification.  I tend to favor that the badge leads to the contributor list for the project rather than the specification.  Including this at the top of your README file would b

[2016-03-02 01:28] kentcdodds commented on #21
I agree this should link to the list. Also the number would be awesome. I'll bet @jfmengels's tool could keep that number up to date :+1:

[2016-03-02 01:33] jfmengels commented on #21
Should not be too much of a problem :+1:

[2016-03-02 03:25] glasnt commented on #18
I think I might be able to help here :)

I've made a tool specifically for automating the collecting of contributors from the GitHub API, called [octohatrack](https://github.com/labhr/octohatrack) ([article about the app](opensource.com/life/15/10/octohat-github-non-code-contribution-tracker)).

The algorithm is fairly straight forward, but it takes a while to parse for larger repos.

I've also li

[2016-03-02 03:46] kentcdodds commented on #18
Very cool @glasnt! Thanks for chiming in!

I just ran it on my more popular repo `angular-formly` and it came up with hundreds of contributors. Super cool!

I think the real challenge with a fully automated solution is as I stated earlier:

I'm just not sure that we can go 100% automated. I think the best is to develop a tool as @jfmengels is working on to make it easier to generate the markdown,

[2016-03-02 03:57] glasnt commented on #18
@kentcdodds

So that's always going to be a problem. The major hubs can be automated, but it's not going to pick up everyone.

You can have 'rss feed planets' and such, but there's no a lot that beats the maintainers actively attributing help.

The future work I have planned for hatrack is to automate the github hubs, and then have a [manual addition](https://github.com/LABHR/octohatrack/issues/63

[2016-03-02 04:10] chrissimpkins commented on #18
@glasnt Very cool project Katie.  It seems that you've already given a good deal of thought to something that (to my knowledge) we haven't considered here which is how to bridge high contributor volume, mature projects to this specification.  This will prove to be a challenge.

Anyone have thoughts about this?  From what I understand about @jfmengels's tool, it will be perfect for moderated, semi-

[2016-03-02 04:38] chrissimpkins commented on #16
These emoji icons are handled as text.  Is there a way to add an alt tag to them in Markdown?

[2016-03-02 04:49] kentcdodds commented on #16
Huh, that's a good point... I don't think that's possible. Also `alt` is actually not an attribute of an `<a>` tag anyway, so it'd have to be an `<img>`. I'm not sure I want to do that though :-/

[2016-03-02 11:24] jfmengels commented on #18
@glasnt Cool project!
I'm working on https://github.com/jfmengels/all-contributors-cli/issues/1 (soon in the shelves), so any tool that can fetch contributor data and write it in the configuration file will work with my tool. So if we build tools that find contributors well (I don't know how effective @glasnt's project currently is at that), I think we can build a nice toolchain.
Please file issue

[2016-03-02 15:12] burodepeper commented on #18
Hi there, just wanted to say hi! ; ) (hey Chris!)

Actually, I was looking into/for something like this, so yay! I have to look deeper in to what has already been said and done, but thus far I find the suggested things rather (visually) verbose, though I recognize that that is fully my own opinion.

I'm curious what you all think about the order in which contributors appear. I might have skimmed o

[2016-03-02 15:42] kentcdodds commented on #18
@burodepeper, thanks for your interest in the spec! I think that as you read up on the spec and the comments here your feelings are shared :-) What you describe is basically the reason this spec was created.

[2016-03-02 16:20] chrissimpkins commented on #15
Pulling the discussion about PR #20 over to this thread based upon an attempt to manually mock the current spec for an example Markdown gallery.

@kentcdodds We are starting to delve into implementation issues here and, while not part of the spec, they will be important to how/whether projects use this spec.  The change in the git commit based definition of "contributor" appears to be the issue of

[2016-03-02 16:32] kentcdodds commented on #15
I think I understand the concern you're expressing. However I worry that if we don't give at least an example and some specific guidelines, projects will be less likely to adopt the idea. Without the guidelines, the spec is no longer a spec, but more of a blogpost about a good idea people should implement in some way.

[2016-03-02 16:57] chrissimpkins commented on #15
I completely agree.  I think that guidelines are useful to help with implementation.  I am specifically wondering about the use of these as mandatory parts of the specification:

- Indication of the Contribution Category in text or icon image format using the defined Contribution Categories and/or Contribution Categories emoji images (see below).
- A link to the Contribution Category in text or em

[2016-03-02 17:12] kentcdodds commented on #15
Just to be clear, you're basically suggesting that we move those two bullet points to the `optional` section and that we allow people to comply to the spec even if they don't specifically call out the types of contributions people have made?

I think I'm ok with that. Thoughts from others welcome :thought_balloon:

[2016-03-02 17:53] chrissimpkins commented on #15
@fhemberger
@ben-eb
@Jameskmonger
@jfmengels
@bogas04
@frigginglorious

Thoughts about the issues in https://github.com/kentcdodds/all-contributors/issues/15#issuecomment-191324682?

I don't think that this means that we should not provide a set of guidelines and maybe even examples (where this originated) of the contributor list, nor that tools to support the specification and optional guidelines

[2016-03-02 18:25] ben-eb commented on #15
Seems like being more permissive makes sense to me. For example, there might well be people who want to use GitHub style emoticons for contributors instead of Unicode, etc.

[2016-03-02 20:35] jfmengels commented on #15
:+1: The aim of the spec is IMO simply to indicate *what* should be done, in regards of recognizing contributors and "displaying" them, not *how*:
- Indicating what should be considered a contribution (code, docs, talks, translation, bug reports, ...)
- broad guidelines on how to make the contributors stand out (list them in the README, add a contributors section, ...)

That said, the rest of the

[2016-03-03 00:04] Jameskmonger opened #29 "Mobile alignment"
Just looked at the readme on my mobile (Nexus 5) and the tables look pretty badly aligned.

![tables](http://i.imgur.com/3awZobX.png)

Not sure if this is something we can fix, though?

[2016-03-03 00:13] kentcdodds commented on #29
Yeah :-( Too bad there's no way to do responsive design in markdown.........

[2016-03-03 00:14] kentcdodds commented on #29
I'm going to vote: `wont fix`

[2016-03-03 00:16] Jameskmonger commented on #29
Sure, I'm happy with that vote @kentcdodds.

[2016-03-03 00:19] jfmengels opened #30 "Have an emoji for issues/feature requests/discussion"
We should have an emoji and a name for creating feature requests, and/or simply discussing/bikeshedding in issues and PRs.

Kinda stuck on finding a name for this (or rather, a `represents` value as is written in the emoji table), and I'm not too familiar with emojis either.

Any thoughts on this? :)

[2016-03-03 00:22] jfmengels commented on #16
Unless somebody finds a solution, I'm closing it. (Please re-open if you don't agree)

[2016-03-03 00:22] #16 closed

[2016-03-03 00:23] chrissimpkins commented on #16
agree

[2016-03-03 00:25] #29 closed

[2016-03-03 00:25] kentcdodds commented on #30
I'm a fan of the idea. How about 🌟?

[2016-03-03 00:27] jfmengels commented on #30
:+1:

[2016-03-03 02:31] chrissimpkins commented on #21
Did we settle on a design?

[2016-03-03 02:49] kentcdodds commented on #21
I like the first one in that last comment

[2016-03-03 03:19] chrissimpkins commented on #21
#31

[2016-03-03 04:06] chrissimpkins commented on #15
I think that we are all saying similar things and it seems that there is some level of agreement about the laxity in the *implementation / layout of the acknowledgments* associated with the specification.  If this is the case, should we create new issue reports for the mandatory parts of the spec in its current iteration so that we can discuss these in more detail to nail down the wording?  It see

[2016-03-03 04:29] kentcdodds commented on #15
I +1 the apparent general consensus :-)

[2016-03-03 14:57] #21 closed

[2016-03-08 07:47] jfmengels commented on #30
🌟 LGTM.
I'm tempted to call this  ̀discussion`.

[2016-03-08 07:52] kentcdodds commented on #30
I'd be worried that would be too loose. Bikeshedding is not always constructive. Only people with real-world use cases that are within the scope of the project should be considered. I think something that describes the concept "Accepted Feature Requests" would be better... :thought_balloon:

[2016-03-08 07:56] jfmengels commented on #30
Agreed, but I think it would be nice to have one for people that discuss a lot in GH issues (bikeshedding or more useful comments).

[2016-03-09 13:46] ligthyear opened #33 "Add Emoji for Infrastructure work"
First off: love the idea/project. I am currently implementing it for [a project of mine], and even though it is with 4 contributors still quite small, already found myself with a few rather odd places with the emoji. I will post them as separate issue so we can discuss each suggestion I have.

This one is about "infrastructure work" someone might contributed. In my case this means setting up build

[2016-03-09 13:50] ligthyear commented on #33
Sorry, didn't realise that was the same emoji as for plugin contributions. I'm not really sure which other emoji to pick though. Suggestions welcome!

[2016-03-09 13:53] ligthyear commented on #30
If you call it discussions, I'd vote for the speech bubble: 💬

[2016-03-09 13:56] ligthyear commented on #33
How about factory: 🏭, metro 🚇 or postal horne📯 as generalised symbols for infrastructure?

[2016-03-09 14:08] ligthyear opened #34 "General Community Outreach"
I see there are a number of emoji about specific contributions done for the projects, which are about involving more people (giving a talk, writing a blog post, etc) and I like that a lot – as this is about shining light on exactly those often overlooked contributions. Yet, by making those so specific, it becomes harder to show more general communication efforts of people – like a person super res

[2016-03-09 14:08] Jameskmonger commented on #33
I like :metro:!

[2016-03-09 14:11] chrissimpkins commented on #33
@ligthyear @Jameskmonger :+1:

[2016-03-09 14:12] ligthyear opened #35 "Question-Mark is ... awkward"
The big red (or black) question mark looks like something failed to load or the position of that person is questionable/unknown. Making it a very awkward emoji to use. Once you read the spec it feels like it makes sense, but when you see it in a Readme, even after that, it is just not very positive. Can't we at least use the "answered" version of that emoji: ⁉️ – or is that just no strong enough i

[2016-03-09 14:27] ben-eb commented on #35
Perhaps we could use a lightbulb 💡 instead?

[2016-03-09 14:51] ben-eb commented on #35
Realised we use lightbulb already for 'examples'. How about 🙋?

[2016-03-09 19:05] skade commented on #34
Hm, I'm not sure if I would fold that into one emoji, running meetups and doing moderation are some quite different things.

[2016-03-10 02:20] kentcdodds commented on #30
I'm a fan of that.

[2016-03-10 08:31] ligthyear commented on #35
I like the raise-the-hand – generally fan of the human-emoticons ;) . Still feels more like the quenstion-answering rather than the helping person, no? How about information-desk-person: 💁 ?

[2016-03-10 08:32] kentcdodds commented on #33
I'm also good with 🚇 :+1:

Feel free to [makeapullrequest.com](http://makeapullrequest.com) and don't forget to add yourself to the list of contributors in that PR :-)

[2016-03-10 08:36] kentcdodds commented on #35
I'm good with 💁

[2016-03-10 08:36] kentcdodds commented on #35
Feel free to [makeapullrequest.com](http://makeapullrequest.com) :-)

[2016-03-10 08:38] ligthyear commented on #35
@kentcdodds is it ok if combine this and the PR for #33 into one?

[2016-03-10 08:39] kentcdodds commented on #34
I agree with @skade here... I think that I want to avoid putting really broadly defined items into the all-contributors spec. I think it's reasonable to expect that projects will customize the spec to suit their needs. But by putting in broad contribution items, it makes things much more subjective and difficult to know what to apply for a certain type of contribution...

Forgive me if I'm not mak

[2016-03-10 08:40] kentcdodds commented on #35
Generally want to avoid that just in case someone's good with #33 and not with #30. So why don't you make one for each and then an additional one to add yourself to the contributors table :)

[2016-03-10 08:57] ligthyear commented on #34
Fair enough. Then I'd propose to add:

 - Organising Community Events: 🍻 (is the only one a little bit communal, though I don't like the alcohol reference... 🍽️ is just way less community, or maybe one of the party icons, like 🎉)
 - Overseeing Issues/Bug Reports: 🗃️ (card file box)
 - Project Coordination 🌐
 - (personal) Coaching/Mentoring: 🏫
 - Money Management/Fund Raising/Sponsoring: 💸

[2016-03-10 09:37] skade commented on #34
* :microphone: seems to be a goods suggestion for events.

[2016-03-10 09:45] skade commented on #34
Lots of suggestions here: https://twitter.com/Argorak/status/707858755489304576

[2016-03-10 09:46] Jameskmonger commented on #34
I like :calendar: or :date: @skade

[2016-03-10 12:30] skade commented on #34
Both look very neat.

I'd also like to add "Moderation", maybe using 🗣 or 💬?

[2016-03-10 12:32] Jameskmonger commented on #34
That first emoji doesn't work on my PC @skade. Could we stick to using GitHub emojis where possible? They're always supported, unlike the unicode ones which aren't

[2016-03-10 12:41] skade commented on #34
Hm, nice catch, the first is not in the github emoji ranges. *grumbles something about standards*

[2016-03-10 17:17] kentcdodds commented on #34
Thanks for the discussion! What I like:

- Organising Community Events:  🎉
- Overseeing Issues/Bug Reports: Let's update the "Reviewed Pull Requests" to account for this as well which is 👀
- Project Coordination 🌐
- (personal) Coaching/Mentoring: 🏫
- Money Management/Fund Raising/Sponsoring: 💸

:+1:

[2016-03-11 10:34] ligthyear commented on #34
Ok. this becomes a little fuzzy now. What is the process to decide on emoji if there are multiple contestor? Can we use the new reaction-emoji-feature of github to do a voting? How many votes are needed/who can vote?

[2016-03-11 16:52] kentcdodds commented on #34
There's no set rules, but I'll make some up right now...

You need at least 2 :+1: votes and the :+1: votes need to outweigh the :-1: votes. People can also just say they don't care either way and that's a neutral vote (doesn't count either way). Sound good?

[2016-03-13 21:07] #33 closed

[2016-03-14 21:43] #35 closed

[2016-03-29 17:15] mbad0la commented on #18
@kentcdodds @frigginglorious @chrissimpkins @jfmengels , please have a look at this [atom package](https://atom.io/packages/allcontributors) i'm working on. This helps to automate the all-contributors-spec inside atom text editor.

[2016-03-30 02:21] mbad0la commented on #18
Sure! I'll send a PR.

[2016-07-04 04:19] boneskull commented on #18
alphabetical :smile:

[2016-07-04 04:28] kentcdodds commented on #18
Actually, on the JavaScript Air website, I recently had (almost) all guest/panelist images appear in random order each time the site is generated. We could do the same for this project. Randomize the contributors each time the table is generated. This would obviously only be reasonable with the CLI.

[2016-07-04 04:56] mbad0la commented on #18
@kentcdodds @boneskull , having a randomised contributors' ordering seems like a good idea!
Btw, just a thought. Will it make sense to keep the repository maintainers out of the randomisation process? Let's always assign them the initial blocks in our table?

[2016-07-04 05:12] boneskull commented on #18
So, I'm interested in getting this to work for Mocha.  I've explored writing a tool to get at this type of dataset.  It works similarly to octohatrack--you make a bunch of API calls and aggregate things.

But that's really bending the GitHub API in a direction it doesn't want to go.  Sure, you can grab all this data at once and throw it in a cache.  How can you efficiently process *new* data that

[2016-07-04 05:15] boneskull commented on #18
I'd like to clarify this point:  if the project doesn't own the data, it's going to be tough to get.  If Joe Contributor writes a blog post about your project, how will you know?

[2016-07-04 05:26] glasnt commented on #18
Hey @boneskull, I have a few things that might help you here:

 * the ability to add 'custom' contributors to octohatrack that I mentioned earlier up in this thread [has been implemented](https://github.com/LABHR/octohatrack/pull/78), which allows for the use case of 'Someone has blogged about this'
 * There are a number of tools already in the LABHR suite for [wikipedia](https://github.com/LABHR/

[2016-07-04 05:35] boneskull commented on #18
@glasnt Thanks.

I understand the "custom" contributor functionality, but this is not easily automated, which is my point.

I'm not sure I follow what this is about.

Yes, the initial pull needs to happen, which I mentioned above.  But thereafter, it's expensive to "poll".

I suppose what I'm trying to ask then w/r/t the specification is "should we have one or more contribution types that for whic

[2016-07-04 05:40] glasnt commented on #18
There's been a bunch of changes recently in the GitHub interface to allow for actual customisation of user profiles:

- https://github.com/blog/2191-pin-repositories-to-your-github-profile
- https://github.com/blog/2173-more-contributions-on-your-profile

As far as I'm aware, there's no changes at this level for project profiles, to date.

---

Within the scope of all-contributors, I can't comment

[2016-07-04 05:52] boneskull commented on #18
I was under the impression that this was just a Facebook-like feature where you could present yourself to others the way you want to be seen.  That's how I use it anyway. 😝   Did they alter the API for this?

So I *think* what you're saying is that GitHub may do some of this work for us in the future, based on the changes they made to the user profiles.  But that's speculation, because GitHub does

[2016-07-04 11:52] kentcdodds commented on #18
I think that the qualitative nature of this spec prevents it from being 100% automated. However, I think that adding people to the list of contributors is fairly simple. What I've done so far is ask that someone add themselves to the list. I have it as part of my [CONTRIBUTING.md](https://github.com/kentcdodds/p-s/blob/master/CONTRIBUTING.md#add-yourself-as-a-contributor). It's worked fairly well

[2016-12-16 09:19] diegohaz opened #43 "List projects that adopt all-contributors"
It would be nice to have a list of those projects so people can find them more easily.

[2016-12-20 16:43] kentcdodds commented on #43
That'd be great! Should be reasonably easy to find as most projects will probably be using @jfmengels's tool (and will hence have an `.all-contributorsrc` file). So you can find them with a file search on GitHub: https://github.com/search?utf8=%E2%9C%93&q=.all-contributorsrc+in%3Apath&type=Code&ref=searchresults

I'll create an initial file with a few projects and leave it open to anyone else to a

[2016-12-21 16:21] #43 closed

[2017-02-09 18:57] tommck opened #51 "Arrow keys don't seem to work in Windows 10"
I have tried to use the up/down arrow keys in both PowerShell and cmd.exe and the arrow keys seem to do nothing (the green '>' doesn't move)

[2017-02-09 19:05] tommck commented on #34
I'm too old to like emoji for things like this.. I will invariably look for text that will describe what it's supposed to mean

[2017-02-09 19:11] tommck commented on #51
Wrong place for this issue

[2017-02-09 19:11] #51 closed

[2017-02-17 16:45] diegohaz opened #52 "When a contributor changes his username, it breaks the table layout"
In the case below (from [ARc](https://github.com/diegohaz/arc)), Abhishek changed his username. So link and picture doesn't exist and broke the table layout.

![image](https://cloud.githubusercontent.com/assets/3068563/23074276/7f30ee46-f51f-11e6-8947-4bd68044699a.png)

[2017-02-17 19:29] kentcdodds commented on #52
Are you using [the CLI](https://github.com/jfmengels/all-contributors-cli)? This shouldn't happen with the CLI.

[2017-02-17 19:35] diegohaz commented on #52
I can't use the CLI directly on the repository (automated) because this is a boilerplate. Is there something we can do to don't break the layout when it happens?

[2017-02-17 20:47] kentcdodds commented on #52
Hmmm... I don't think the CLI had this problem so you could probably compare your table to the one the CLI creates. This repo uses the CLI so you could check this one.

[2017-02-17 21:51] diegohaz commented on #52
What happened was Abhishek Shende changed his GitHub username from abhishekisnot to osdevisnot, which breaks the link https://github.com/abhishekisnot and his picture. That giant octocat is the default GitHub picture, but it doesn't take the `s=100` querystring, breaking the table layout.

Of course, this is a very edge case and the obvious solution is to update his data on the `README`/`.all-cont

[2017-02-17 21:51] diegohaz commented on #52
Not directly related to this issue, but...

The problem of using the CLI on a boilerplate is the `.all-contributorsrc` file. It doesn't make much sense for boilerplate users to create their projects with `all-contributors`. It would just create another step for them to setup a clean project (that's why I also try to avoid adding other repository specific stuff like `.github/` etc.).

Because of th

[2017-02-17 21:53] kentcdodds commented on #52
Gotcha. I'd recommend adding a script called "setup" that removes all the extra files. Or even better, you could change it to a Yeoman generator 😀

[2017-02-17 22:03] diegohaz commented on #52
Yeah, thank you for the suggestions. :)

I'm just posting this issue here because we might find an easy solution for this. For example, using html instead of markdown should prevent it to break the layout until someone updates the contributor info:
[code]

[2017-02-17 22:21] diegohaz commented on #52
Created a PR there. Thank you for your support and sorry about the mess, @kentcdodds.

[2017-02-17 22:21] #52 closed

[2017-02-17 22:27] kentcdodds commented on #52
No worries!

[2017-02-18 12:19] mk-pmb commented on #34
That would help me as well. Does the link syntax support a title attribute? Then we could use that to explain. I can't currently find any explanation for the :tipping_hand_woman: in the readme.

I'd prefer not to be listed as contributor just for this comment. Also there should be a shorthand (emoji?) to state the previous. ;-)

[2017-02-18 14:05] kentcdodds commented on #34
Yes, that would be useful. I'm sure that could be done...

That's because it was changed (because it's confusing) to 💬 in [v2.0.0](https://github.com/kentcdodds/all-contributors/releases/tag/v2.0.0)

Most of the time, I ask others to make a PR to list themselves, and if I do make the PR myself, I ask before merging. :)

[2017-04-14 00:08] kevinjalbert commented on #16
After some playing around a bit with GitHub's markdown, I came up with the following:

`[:eyes:](#eyes-kevinjalbert "Reviewed Pull Requests")`
[:eyes:](#eyes-kevinjalbert "Reviewed Pull Requests")

This way we can attach an alt text (really the `title` attribute) on a link, where the value of the link is the the emoji. As for the actual `href`, using `#xxxxx` lets you not mess with the navigation

[2017-04-14 16:28] kentcdodds commented on #16
That appears to look (couldn't get a screenshot, but it works :smile:). Though I'm thinking that because we now have [the CLI](https://github.com/jfmengels/all-contributors-cli) we don't really need to worry about using strictly Markdown to do this. We can just add it to the template. Would you be interested in [making a pull request](http://makeapullrequest.com/) to that project?

[2017-04-14 16:37] kevinjalbert commented on #16
I think there is still value in having markdown as the main use-case (just from a README mostly being in markdown).

I can take a stab at the PR on the CLI maybe this weekend.

On Apr 14, 2017, 12:28 PM -0400, Kent C. Dodds <notifications@github.com>, wrote:

[2017-04-15 03:14] kevinjalbert commented on #16
@kentcdodds https://github.com/jfmengels/all-contributors-cli/pull/42 ;) Let me know if there is anymore to be done or changed in the PR (on the PR)

[2017-05-30 19:22] shockwavemoto commented on #15
@kentcdodds We are starting to delve into implementation issues here and, while not part of the spec, they will be important to how/whether projects use this spec. The change in the git commit based definition of "contributor" appears to be the issue of most significance in this project. Perhaps we bag these examples/recommendations and mandatory contribution category indicators altogether in favo

[2017-05-30 19:31] kentcdodds commented on #15
I'm fine with that. Honestly I've focused more of my efforts around the `all-contributors-cli` project. The spec was originally created before that CLI existed. I'm looking forward to more automation to be written (like a GitHub bot that automatically updates the `.all-contributorsrc` and the `README.md` for us).

I'm less concerned about how folks implement this spec. I'm more interested in peopl

[2017-06-06 21:55] patcon opened #56 "Sort emoji key alphanumerically"
Hello! I just found out about this project and it is truly amazing, and I am so grateful for all the thought put into this!

One thing that struck me (neither as particularly good or bad, but just "noticed") was that the emoji key is sorted somewhat arbitrarily. "Code" happens to be the first item.

I suspect it's just the order things were added, or some such, but it does seem like an odd little

[2017-07-11 15:25] kentcdodds opened #58 "Build a bot"
I think it's clear that there's interest in the `all-contributors` spec. There are [259 `.all-contributorsrc` files](https://github.com/search?q=.all-contributorsrc+in%3Apath&type=Code&utf8=%E2%9C%93) on GitHub!

I think that even more people would receive the gratitude they deserve if we had a bot to automate things for us. My vision is I could open an issue or even comment on an issue or pull re

[2017-07-11 15:26] kentcdodds commented on #58
Note: I think that it would only work if the comment/issue came from someone with commit rights, or if the bot responded with: "Awaiting committer approval" and a committer could respond with: "Approved" or something :+1:

[2017-07-21 00:55] tunnckoCore commented on #58
Huh! Sounds fantastic, yea! :tada

[2017-07-21 00:57] charlike opened #59 "Emoji title"
I think it would be better when hover on some emoji on generated list of all contributors to show what that emoji means. Because currently it shows the code for emoji (for example, `:eyes:`), which kinda force you to navigate to the space (almost always, until you learn all of them ;d) to see what it means.

[2017-07-21 16:11] kentcdodds commented on #59
Agreed. The CLI's responsible for this. Would you like to make a PR there? https://github.com/jfmengels/all-contributors-cli

[2017-07-22 15:15] tunnckoCore commented on #59
Cool! I will in monday. :)

[2017-08-03 04:29] jmeas opened #60 "New possible contribution type? "Planning" / "API Design" (or something)?"
Hi there! This project is really cool – nice work @kentcdodds and others! I came here looking to add some contribution boxes to some of my projects, but I didn't feel that any contribution types fit exactly what I was looking for.

Frequently, I find that figuring out the best API for a library can even be more difficult and time-consuming than actually writing the code that implements the API.

O

[2017-08-03 04:32] kentcdodds commented on #60
This is great! I was thinking of exactly this today! What about "Ideas & Planning" ? Unfortunately 💡 is already taken, but I like 🤔 as you suggested :smile:

Would you like to [make a pull request](http://makeapullrequest.com)?

[2017-08-03 04:56] jmeas commented on #60
Sure thing! Thanks @kentcdodds ✌️

[2017-08-03 05:15] sprjr commented on #60
james ur such a 💯.

[2017-08-03 05:28] #60 closed

[2017-08-16 17:19] karanjthakkar commented on #58
@kentcdodds let me give this idea a spin over the weekend. I like building bots and shizz. 👻

[2017-08-16 17:25] gr2m commented on #58
I recently wrote a tutorial about creating a github app: https://github.com/gr2m/github-app-example. Together with glitch you can get one going in no time, it’s amazingly simple. Holler if you have any questions

[2017-08-16 17:32] kentcdodds commented on #58
Thank you @karanjthakkar and @gr2m! @karanjthakkar, can't wait to hear how it goes :tada:

[2017-08-20 19:43] karanjthakkar commented on #58
@kentcdodds I made like a really quick flowchart thingy to articulate how I understand the flow for this entire implementation: https://docs.google.com/drawings/d/1D488z_lG-6U9RFFvh1WnXKt7vziP02UGgUf42I49UKw/ I'd love to hear what you think before I go ahead and make something 🙈

[2017-08-20 20:14] kentcdodds commented on #58
Sounds perfect! Thanks!

[2017-08-20 20:59] gr2m commented on #58
Maybe this is something for later, but I’d love if a comment from a non-commiter mentioning @AllContributorsBot would end up in a pull-request instead of a direct change :)

I’m really excited for this, my offer stands to help with building the actual bot. I’ll absolutely evaluate to add it to the @hoodiehq community

[2017-09-25 23:50] patcon commented on #30
Is this good to close now?

[2017-09-25 23:58] patcon opened #63 "New emoji for "data" or "content"?"
For many projects that also involve a live website, part of the project that may be within scope of the developer community is "data" or more generally "content". Yes, on some types of website, the "content" category could be so large and organic that it's not useful to have it in README, but for others, it might be a group small enough that they deserve special recognition among other contributor

[2017-09-26 20:51] kentcdodds commented on #30
Yep, thanks!

[2017-09-26 20:51] #30 closed

[2017-09-26 20:53] kentcdodds commented on #63
I love it. Yes, feel free to [open a PR](http://makeapullrequest.com/) to add this to the spec, then you can make another on [the CLI repo](https://github.com/jfmengels/all-contributors-cli) :+1:

Thanks!

[2017-09-30 07:38] kentcdodds commented on #58
Whelp, I've given it some time and this is as far as I got: https://glitch.com/edit/#!/time-discovery

The test repo is here: https://github.com/kentcdodds/temp and the issue I'm using right now is here: https://github.com/kentcdodds/temp/issues/1

I'm stuck at the part where the bot needs to push the `all-contributors` branch because it doesn't have permission (I think it's unauthenticated and I'

[2017-09-30 08:05] karanjthakkar commented on #58
@kentcdodds I'm assuming the private key in the glitch project is for https://github.com/apps/welcome-bot-kentcdodds-test Can you try adding it to collaborators and see if the push works after that?

[2017-09-30 18:58] gr2m commented on #58
@kentcdodds I’d be happy to help you out! You should absolutely check out https://probot.github.io, it will make your life so much easier. It gives you a [node-github](https://github.com/mikedeboer/node-github) instance which is pre-authenticated as the bot, so as long as you gave the github app the right permissions to update content on the repo and enabled webhooks for issue_comments, it should

[2017-10-01 05:25] kentcdodds commented on #58
Thank you @gr2m!

My glitch is actually using probot (based on your wonderful tutorial!).

The problem is I don't think there's a way to make a commit and push it to a branch on a repo via the GitHub API (at least I couldn't find one), so I'm using raw git commands instead (take a look at the glitch, it's pretty simple). The problem is when I run the git push command.

I won't be available to pair

[2017-10-01 06:31] charlike commented on #58
@kentcdodds, i can't find it too, but it should totally possible, because [Renovate](https://renovateapp.com/) is using APIs (GitLab's and Github's) to do that.  And probably GK works that way too.

[2017-10-01 18:54] gr2m commented on #58
Oh I do that all the time :) For example, see these lines here: https://github.com/octokit/fixtures/blob/master/lib/notify-about-fixtures-changes.js#L84-L103. It creates a branch, on that branch it creates a few files (which also creates a commit) and then creates a pull request for that branch.

See the create/update file APIs at https://developer.github.com/v3/repos/contents/

[2017-10-01 23:46] revelt commented on #59
I came here exactly for the same reason, the title is not set correctly currently, current-labels don't make sense and kindof spoils the whole concept..

![screen shot 2017-10-02 at 00 43 34](https://user-images.githubusercontent.com/8344688/31060391-e5f338e4-a70a-11e7-94cb-cae48d27e4c9.png)

I would implement this on my libraries but I want emoji titles ironed out first.

[2017-10-02 00:04] charlike commented on #59
@revelt same here, i gonna include it in my future readmes too.

Sorry, i seen my previous comment and forgot about that my promise. I can hopefully do it soon :)

[2017-10-02 00:24] revelt commented on #59
@charlike haha it happened to me too, I think it's some sort of Murphy's law - it's enough to promise anything, no matter how simple, suddenly errands will swoop in and you won't get it done. Off the record, I think you would be featured on some of my libs if I implemented this :) I know I definitely consume your libs, just don't remember if contributed anything. I remember I contributed bugs on o

[2017-10-02 01:45] kentcdodds commented on #59
I think this is actually resolved... You can see in [the downshift repo](https://github.com/paypal/downshift) :)

[2017-10-02 01:45] #59 closed

[2017-10-02 06:46] revelt commented on #59
Hi Kent! Sorry, I checked, it does not appear:

![screen shot 2017-10-02 at 07 44 08](https://user-images.githubusercontent.com/8344688/31066540-99197ff2-a745-11e7-858c-1203791818d5.png)

I would expect to see not `:metro:` but `infrastructure`. Does it make sense?

[2017-10-02 06:48] charlike commented on #59
yea, absolutely.

Nice, thanks! :)

Mmmnope. It's not.

edit: haha, @revelt posted before me

[2017-10-02 06:48] revelt commented on #59
hehe :)

[2017-10-02 13:29] kentcdodds commented on #59
Hmmm... It's working for me:

![working](https://user-images.githubusercontent.com/1500684/31079523-27a7ab34-a743-11e7-89fb-5dca0b2f680b.png)

@charlike, sounds cool. `kcd-scripts` is also capable of config and also uses itself to build itself :wink:

Any idea why this seems to be working for me and not you folks? Here's what the DOM looks like on that particular emoji for me:

[code]

[2017-10-02 13:37] revelt commented on #59
Maybe it's different software combo..
I'm using latest Chrome on Mac OS.

@kentcdodds From your cursor I see it's a mac. What browser are you on?

[2017-10-02 13:44] revelt commented on #59
Just checked, Mac OS, Safari 11 does not show any title balloons at all.
It also doesn't show any title popups on Firefox 55 (which is updating currently).

[2017-10-02 13:45] kentcdodds commented on #59
I'm on latest Chrome on Mac OS... What's the DOM look like for you? I think the most likely thing is that we're seeing a different DOM structure due to an A/B test from GitHub or something....

[2017-10-02 13:49] revelt commented on #59
@kentcdodds Here's a whole `th` tag, your card from this very library's readme front page.

[code]

[2017-10-02 15:08] kentcdodds commented on #59
Yeah, looks like GitHub is showing you something different from what it's showing me. So there's not much we can do about that I'm afraid :-(

[2017-10-02 15:54] charlike commented on #59
Hm, yea, it's interesting, because it actually adds the `title` attribute to the anchor, but it seems that the emoji (g-emoji tag) and the img tag (which is fallbacked) are on top of the anchor link, so when you hover you it can't show the anchor's title attribute but the emoji's one.

My case is strange too. I'm on latest Chrome 61+ and ArchLinux, but it seems that it uses/fallbacks ti img instea

[2017-10-02 16:04] charlike commented on #59
Don't know but it is something from the browsers i believe. Because i never seen the `semantic-release` 's badge left-side emojis, but on the phone i seeing them.

![2017-10-02-19 01 56_227x97_scrot](https://user-images.githubusercontent.com/5038030/31087052-5640c866-a7a4-11e7-91a5-6e75c2e201d3.png)
 _(huh, one more lesson today - the three adblockers that i have seems to block the uploading image

[2017-10-02 16:07] revelt commented on #59
That's an interesting case. My next thought is to try to simplify the markup, maybe the current situation within markdown/html is too fancy?

[2017-10-02 16:09] charlike commented on #59
It's github job.. so we can't do another thing. But the great thing is that we can play here inside the comments directly, instead of waste time in PRs and commits :D :D

[2017-10-02 16:10] revelt commented on #59
:DD

[2017-10-02 16:12] charlike commented on #59
PROOOOOOBABLY an Chrome/Firefox extension? :D Or addition to the Refined Github too ;d

Then we just need to select all `g-emoji[title]` and replace their title attributes trimming the `:` ;d

[2017-10-02 16:14] revelt commented on #59
I turned off "Hide files on GitHub" and "Redefined GitHub" extensions on mine, no difference..

[2017-10-02 16:15] charlike commented on #59
No no, i meant addition to them to be PR-ed. :P

[2017-10-02 16:15] charlike commented on #59
Btw, see https://github.com/kentcdodds/all-contributors/issues/59#rofling-title-works - it WORKS! :D

[2017-10-02 16:18] revelt commented on #59
I'm looking at raw readme, it's all in markdown. What if we put raw HTML?

[2017-10-02 16:19] charlike commented on #59
Yea, i was thinking that too but forgot to add it to the bullets.

[2017-10-02 16:24] charlike commented on #59
The above thing that is the rofling emoji, may work because github has two markdown solutions. Don't know how to explain it, but i have seen some things that work in a READMEs and other md files, but not in the comments. Some micro things.

[2017-10-02 16:38] charlike commented on #59
GODDAMMN :rofl: For sum freaking reason this did the trick

putting directly in markdown, generates same thign, but does not add the `title` attribute to the `g-emoji` tag, which is the main reason what we see ;d

[code]

[2017-10-02 16:39] revelt commented on #59
yeahhh!!!! good job!!!

[2017-10-02 16:41] charlike commented on #59
I'M THE MACHINEEEE :D I'll PR to see if it really works :smile:

[2017-10-02 18:16] charlike commented on #59
Okey, it not works. This is one of these cases that i'm talking about. When is in the comments - it works, when is in the preview while writing a comment - it works, when you are previewing and editing some file through the github ui - it works. But when it is rendered on the readme (and other md files) this trick does not work.

So there really is no way to tweak it, except in extension. Totally

[2017-10-02 19:50] charlike commented on #59
Heya, @kentcdodds, @revelt here's the extension so you can load it:
https://github.com/charlike/all-contributors-patch

[2017-10-02 19:56] revelt commented on #59
awesome! fav'd

[2017-10-02 20:05] charlike commented on #59
Just not sure for the name and description. Suggestions & PRs welcome, soon will scaffold the repo properly.

[2017-11-07 14:42] jerodsanto commented on #58
@kentcdodds @gr2m I want this to exist! Is there a way I can hop in and help out? Or even take the ball and run with it if y'all aren't actively pursuing this?

LMK, thanks 💚

[2017-11-07 15:04] kentcdodds commented on #58
Yes, if you want to build this yourself, please do!

[2017-11-08 03:58] gr2m commented on #58
go for it @jerodsanto, happy to help out with GitHub API / App / Probot questions

[2017-11-11 19:49] kevinvangelder opened #68 "Platform-specific contribution emoji"
A lot of times open source projects only support one or a few platforms and a contributor will port or add support for a previously unsupported platform. It would be cool if they could be recognized for that (usually significant) contribution.

[2017-11-11 23:13] kentcdodds commented on #68
Agreed 👍 what emoji do you propose?

[2017-11-13 19:53] kevinvangelder commented on #68
I was hoping there would be Windows/iOS/Android/MacOS/Linux emoji, but I guess I'm just spoiled by Slack's custom emoji. 😢 Maybe 🚉as a stand-in for "platform"? That's pretty weak, but it's all I've got for the moment. Certainly open to other suggestions.

[2017-11-13 19:58] kentcdodds commented on #68
That sounds fine to me! Feel free to [make a pull request](http://makeapullrequest.com) :+1:

[2017-11-13 19:59] kevinvangelder commented on #68
I'll give it a bit of time to see if anyone else has better suggestions, but I'm totally up for doing a PR.

[2017-11-13 19:59] GantMan commented on #68
:computer: ?

Also, there are colored hearts:
💙  windows?
💚  Android
🖤  iOS
💛  Linux
❤️  Mac
💜  Other

[2017-11-13 20:00] kentcdodds commented on #68
I'd rather just have one emoji for the whole concept and 💻 is already taken :)

[2017-11-16 21:49] patcon commented on #18
Oh hey! This was relayed to me care of @jywarren @ebarry, and might be relevant (or someone worth collaborating with): https://github.com/mntnr/name-your-contributors

cc: @RichardLitt re: https://github.com/mntnr/name-your-contributors/issues/45

[2017-11-16 21:58] kentcdodds commented on #18
That's awesome @patcon! I'll bet that we could use that for the bot (#58) if anyone ever gets around to it!

[2017-11-16 22:18] RichardLitt commented on #18
I'
ve been meaning to post here for a while - I've been waiting for time to look over this closer. name-your-contributors could definitely help. It was almost tailor made for this purpose.

[2017-11-17 17:09] mbbroberg commented on #68
I'm running into similar where I have to recognize the people shepherding that essential part of my projects and it's keeping me from being all in on `all-contributors`.

What about 📦 for packaging/porting?

[2017-11-17 17:37] kentcdodds commented on #68
I'm fine with either. The first PR gets to choose the emoji :wink:

[2017-11-17 22:13] kevinvangelder commented on #68
I think I like 📦 better than 🚉.

[2017-11-17 22:14] mbbroberg commented on #68
Awesome! I didn't want to steal your thunder @kevinvangelder - just happy another internet friend wants to solve the same problem. 😄

[2017-11-17 22:31] kentcdodds commented on #68
We'll probably also want a PR on [the cli](https://github.com/jfmengels/all-contributors-cli).

[2017-11-17 22:33] mbbroberg commented on #68
Sgtm! Hoping i can get in there but we'll see who can write the codez first.

[2017-11-25 14:01] #68 closed

[2017-12-09 00:08] tech4him1 commented on #58
Does someone have a bot in progress? I'd be happy to help out with an existing one if there is, or start work on one myself if there is no work in progress.

[2017-12-09 00:09] gr2m commented on #58
just do it :)

[2018-02-03 23:15] mpeyper opened #72 "When to update contributor list"
Is there any guidelines on when the list should be updated?

For example, I'd someone raises an issue and a maintainer agrees that it is a bug, I would then deem the user to be a contributor.

Should they be added to the list:

* Immediately?
   * As a PR?
* When the bug is fixed?
* On next commit?
   * Could put some kind of hook in?
* On next release?

I'm committed to including the all-contribu

[2018-02-03 23:19] kentcdodds commented on #72
Hi @mpeyper!

No guidelines. But I generally ask the contributor to add themselves as part of the PR or immediately after it's merged. I don't often keep the list up to date myself and instead leave it up to the contributors to add themselves.

Would you like to add something to the README for a suggestion on how to manage this?

[2018-02-04 01:07] mpeyper commented on #72
Thanks @kentcdodds.

My feeling is that it is easy for a contributor to add themselves if they are actively changing the repo (i.e. through a PR), but this is much more difficult if they are contributing to the community without actually committing (e.g. reporting bugs, answering questions on SO, or doing talks/presentations).

Of course, anyone is welcome to submit a PR adding themselves or other

[2018-02-04 08:32] #72 closed

[2018-03-12 16:27] sudheer160540 opened #75 "How to change the mark icon in map"
How to change the mark icon in map

[2018-03-12 16:30] kentcdodds commented on #75
Could you clarify? What mark icon? Do you mean how do you customize the emoji? This is not currently possible. I'm not opposed to making it configurable though if you'd like to [make a pull request](http://makeapullrequest.com) :)

[2018-03-22 00:11] TheLarkInn commented on #58
See @sokra's openbot

[2018-03-22 19:12] RichardLitt commented on #58
@TheLarkInn I wasn't able to find that on their profile; can you link to it?

[2018-03-23 16:35] TheLarkInn commented on #58
Ahh yes that is it. I was trying to go by memory!

On Thu, Mar 22, 2018 at 9:07 PM Charlike Mike Reagent <
notifications@github.com> wrote:

[2018-03-26 15:56] patcon commented on #58
Love this idea. Just a heads up, about a story I read lately:
[Building Bots to mend Broken Badges (or how to get your GitHub account suspended)](http://movermeyer.com/2018-03-08-building-bots-to-mend-badges/)

If I'm understanding intent in this issue correctly, the idea is to have the bot take action when a config file is present? If so, a config file existing might not be enough to assume conse

[2018-03-26 16:27] gr2m commented on #58
@patcon you would build this as a [GitHub app](https://developer.github.com/apps/), the consent would be that the a repository maintainer would install the GitHub app :)

There are some folks interested in building this using Probot (a GitHub app framework) over at https://github.com/probot/ideas/issues/46

[2018-04-13 15:24] RichardLitt commented on #18
I've fixed up nyc a bit, and it should be easier at the moment to get contributors and to sort them appropriately. @patcon or anyone else: Would you be interested in helping me integrate this with all-contributors?

[2018-06-15 21:59] erdahuja opened #78 "Script doesn't work with and without nps and exits with"
https://www.dropbox.com/s/btvqq2cl0ediy21/Screenshot%202018-06-16%2003.28.21.png?dl=0

[2018-06-15 22:01] erdahuja commented on #78
Debug trace

[Here](https://www.dropbox.com/s/bqgy9l9i4iroso9/Screenshot%202018-06-16%2003.31.36.png?dl=0)

[2018-06-23 04:35] dhairyabaweja commented on #19
I think it would not be a good idea for the maintainer to control such info changes.

[2018-07-04 23:29] MatheusRV opened #80 "Internacionalization"
Any ideia how to implement a internacionalization at this doc?

[2018-07-05 14:17] kentcdodds commented on #80
I'd be happy to accept a PR to internationalize the docs. Maybe a `docs` directory with markdown files for each locale?

[2018-08-14 02:48] jayvdb opened #81 "Add Category for committer"
Being a committer is more than just code.

This becomes especially important for repos which do fast-forward commits, as their effort does not appear in the repository, and so repository based analysis tools omit this.

e.g. https://github.com/PyCQA/pyflakes/commit/9dd73ec544 is a fast-forward commit by a non-committer, merged manually by a committer.  i.e. me.

Also GitHub does not provide any pu

[2018-08-14 03:28] kentcdodds commented on #81
That sounds fine to me. What emoji do you propose?

[2018-09-13 01:49] RandomGuyDTB commented on #81
In my opinion a chain would be an okay idea for the emoji because next to the commit button when editing a file on the website there's a picture that looks like a chain, it's just that the original use for that was to symbolize committing to the master branch so it'd be kind of weird to transplant the icon with a different purpose. I second this, a committer icon would be great. Thinking of one is

[2018-09-13 17:12] kentcdodds commented on #81
I'm good with 🔗

[2018-10-03 20:27] shmesa22 commented on #80
I can work on Spanish translation

[2018-10-14 17:17] ordazgustavo commented on #80
@shmesa22 Are you still working on that?

[2018-10-14 23:03] MatheusRV commented on #80
I could translate to pt-br.

[2018-10-14 23:18] ordazgustavo commented on #80
I can help with spanish, just wanted to ask before jumping on it

[2018-10-20 02:32] MatheusRV commented on #80
@ordazgustavo @shmesa22 Follow https://github.com/kentcdodds/all-contributors/pull/82 to update with spanish translation.

[2018-10-21 14:45] MatheusRV opened #83 "Humans Document"
What is humans.txt?
It's an initiative for knowing the people behind a website. It's a TXT file that contains information about the different people who have contributed to building the website.

Why a TXT?
Because it's something simple and fast to create. Because it's not intrusive with the code. More often than not, the owners of the site don't like the authors signing it; they claim that doing

[2018-10-31 21:05] matbrgz opened #85 "Minimal Version"
Suggesting this repository for another project that I find interesting I came across a rather interesting idea:

"
I would actually like to see the minimal version of that list, one with only the Avatar + GitHub profile (or website) link. From my perspective, if it does not really matter if it was a bug, a PR code, a translation or some documentation, in the end it's a contribution and it should b

[2018-11-06 21:46] kentcdodds commented on #85
I'd be fine with that. Feel free to PR to the spec to add a note about a minimal version being acceptable.

[2018-11-30 17:45] robertlluberes opened #88 "Link to Portugal documentation is broken"
Link to the Portuguese documentation on the file [README](https://github.com/kentcdodds/all-contributors/blob/master/README.md) is broken

[2018-11-30 18:22] #88 closed

[2018-12-05 15:39] MatheusRV commented on #80
Done, now there is a exemple to internacionalization. Tks

[2018-12-05 15:40] #80 closed

[2018-12-18 07:22] pertrai1 opened #96 "Update User Icons"
I might be missing something, and if so, I apologize. Is there a way to update a member with adding new icons? I don't want to have to go into the markdown and figure out what icon needs to be added if the user has contributed more in another category. I hope this makes sense in how I am explaining it.

[2018-12-18 07:40] pertrai1 commented on #96
found answer here: https://www.npmjs.com/package/all-contributors-cli

[2018-12-18 07:40] #96 closed

[2018-12-20 19:21] MatheusRV opened #99 "Spanish User test Translate"

[2018-12-23 02:44] jakebolam opened #101 "API rate limit exceeded for"
# Problem:
API limit hit for all contributors

[code]

# Solution i'd like to see:
A way to provide a github auth token to avoid API limits.

# Additional information:
See the github docs: https://developer.github.com/v3/rate_limit/

[2018-12-23 02:52] jakebolam commented on #101
I've realized this a problem with the CLI tool and have created an issue there https://github.com/jfmengels/all-contributors-cli/issues/121

[2018-12-23 02:52] #101 closed

[2018-12-30 14:32] SM668 opened #105 "添加FSCB令牌资料和LOGO，请帮忙提交审核"
团队背景：FSCB总部位于西雅图，核心成员平均超过十年互联网产品开发经验，是国内早期研究区块链领域的技术团队，连续创业者，未来基于云端的、融合了区块链技术的联网防伪方式，要远比依靠防伪商标的传统防伪方式更为有效。溯源指追踪记录有形商品或数字商品的流转链条，通过对每一次流转的登记，实现从源头的信息采集记录、追溯原料来源、生产过程、检验批次、物流流转、防伪鉴证，根据溯源信息优化供应链，提供供应链金融服务等目标。把区块链技术应用在溯源、防伪、优化供应链上的内在逻辑和数据存证场景非常类似——数据不可篡改和加盖时间戳。

项目基本情况:FSCB是通过区块链技术搭建的溯源公链，利用区块链独特的不可篡改的分布式账本记录特性，构建溯源云平台，通过落地项目的子链及对应dapp应用来解决企业在商品生产、流转、分销、终端消费过程中的信息溯源、防伪验真、精准营销难题为技术开发者提供快捷高效的开发云服务集合为品牌企

[2018-12-31 02:12] jakebolam opened #106 "Add category for security"
Possible emoji: 🛡️

See CLI PR: https://github.com/jfmengels/all-contributors-cli/pull/126

[2018-12-31 02:15] jakebolam commented on #58
2K+ now. Anyone started something?

[2018-12-31 03:19] kentcdodds commented on #58
That is 🤯

I have no plans to work on this personally. But it would be cool!

[2018-12-31 05:00] kentcdodds commented on #106
I'm in favor I think. Could you make a PR?

[2018-12-31 07:40] jakebolam commented on #106
@kentcdodds put a PR up here, will do one on the CLI too https://github.com/kentcdodds/all-contributors/pull/107

[2019-01-02 04:48] kentcdodds commented on #106
Merged 💯

[2019-01-02 04:48] #106 closed

[2019-01-04 00:31] MatheusRV opened #109 "Add version in README.md"
Given the differences that the translated documents are having from the original version, I find it noteworthy to add in the title the version that the document is in. If accepted I can provide such PR.

[2019-01-04 04:40] kentcdodds commented on #109
Hi @MatheusRV, the version is already at the top of the README, but I have no problems including it twice :)

[2019-01-04 04:41] #109 closed

[2019-01-04 16:06] kentcdodds opened #112 "Call for maintainers"
Hey folks,

I'm drowning in GitHub notification emails and need to lighten my load. So with heavy heart I'm picking a few projects to detach myself from and unfortunately this is one of them.

I would like to hand this project off to someone who's _already_ been contributing to the project (I'd like to avoid another incident like [this](https://snyk.io/blog/malicious-code-found-in-npm-package-even

[2019-01-06 04:58] jakebolam commented on #58
It seems the `all-contributors-bot` name is already taken. Has someone set something up?
@tech4him1 @jerodsanto @gr2m

[2019-01-08 16:35] tech4him1 commented on #58
@jakebolam It's not mine.

[2019-01-09 15:04] jakebolam commented on #58
Thanks @tech4him1. I've got around this for now and I'm starting to make some progress https://github.com/all-contributors/all-contributors-bot
Not fully working yet, but getting close (for the first basic happy path)

[2019-01-11 10:02] Berkmann18 commented on #58
How's the progress in that?
It's definitely a great thing to have and I'll love to help.

[2019-01-11 10:18] jakebolam commented on #58
Hey @Berkmann18. Progress is coming along nicely. The bot posted it's first PRs today:
https://github.com/all-contributors/all-contributors-bot/pull/17 🎉

I've started providing updates on this issue: https://github.com/all-contributors/all-contributors-bot/issues/5

It would be great to get help! I think it should be at a point where you can start looking through the code/issues. We are currently

[2019-01-11 11:01] Berkmann18 commented on #58
@jakebolam So essentially this issue depends on [all-contributors-bot#5](https://github.com/all-contributors/all-contributors-bot/issues/5) which depends on [all-contributors-bot#7](https://github.com/all-contributors/all-contributors-bot/issues/7) which depends on [probot#774](https://github.com/probot/probot/pull/774); in other words, holding this one until probot updates their `@octokit/rest` d

[2019-01-11 12:03] Berkmann18 commented on #58
@jakebolam Sure, I'm no expert in making probots or NLP (although I'm eager to learn/improve in both) but I'll have a look at the NLP one.

[2019-01-11 19:00] gr2m commented on #58
I’m optimistic that we will be able to release `probot@8.0.0-beta` today :) stay tuned :) Love that you create this bot! I want to use it so much!

[2019-01-12 01:35] Berkmann18 commented on #112
I'll be happy to help although I don't think I'll be able to do this on my own given that I'm still unfamiliar with codebase.
But anything that would fall under pretty much all the contribution types namely: code, test, design, docs; would be areas where I'm willing to help.

[2019-01-12 06:32] jakebolam commented on #58
@gr2m awesome news!

[2019-01-12 07:11] gr2m commented on #58
I didn’t quite finish the `beta` release train yet, but I’ve manually published `8.0.0-octokit-16-preview`, install it with

[code]

If you run into any problems check out the change notes here: https://github.com/probot/probot/pull/774#issue-232419817

Thanks!

[2019-01-13 09:20] jakebolam commented on #58
https://github.com/all-contributors/all-contributors-bot is running a preview version of probot, and things are looking good.

Development is unblocked!

[2019-01-14 11:48] Berkmann18 commented on #19
I don't think GDPR is of much influence on repos (other than on GitHub itself) but when it comes to data access/modification/deletion requests, I think maintainers **should** comply with that.

Basically, one of the things GDPR states is that if a data subject (in this case a contributor) perform a data access/modification/... request, the company/service that holds data on the data subject (in th

[2019-01-14 16:33] jakebolam commented on #58
@AllContributorsBot please add tbenning for design

[2019-01-15 16:34] MatheusRV commented on #112
I'm still here, not time at this moment but soon as possible i could review pt-br translated.

[2019-01-15 17:56] kentcdodds commented on #112
I'm going to go ahead and close this as we've got a great few maintainers now :)

[2019-01-15 17:56] #112 closed

[2019-01-17 09:03] Jongjineee opened #130 "The translation README.md dose not update contributors."
The translation readme does not have links to other countries, and the contributors are not updated.

[2019-01-17 09:20] jakebolam commented on #130
@Jongjineee we could use this field to have the bot do it for us!
https://github.com/all-contributors/all-contributors/blob/master/.all-contributorsrc#L4

[2019-01-17 09:20] jakebolam commented on #130
Want to try putting up a PR with the CLI tool?

[2019-01-17 09:46] Jongjineee commented on #130
This is an English Readme, and what I'm saying is a readme of the translation!

[2019-01-17 10:04] jakebolam commented on #130
Added a PR to show you what I mean @Jongjineee :)

[2019-01-17 10:06] Berkmann18 commented on #130
@Jongjineee Is that related to the different translations not being up-to-date with the English README in terms of contributors and contributor count?

[2019-01-18 15:59] Berkmann18 commented on #85
@MatheusRV Have you started working on that?

[2019-01-18 16:05] Berkmann18 commented on #81
@jakebolam @sinchang

[2019-01-18 16:06] Berkmann18 commented on #75
@sudheer160540 Please expand on that.

[2019-01-18 16:12] Berkmann18 commented on #63
@patcon Mind opening a PR for this?

[2019-01-18 16:18] Berkmann18 commented on #18
@RichardLitt Are you still interested in doing that?

[2019-01-18 17:13] MatheusRV commented on #85
Not yet.

[2019-01-18 17:25] MatheusRV opened #134 "Do not use dynamic version hover translated version"
Please remove the dynamic use of the emoji table version, this has been implemented to show that the translation is outdated or not from the original version. As you can see in the portuguese version of brazil https://github.com/all-contributors/all-contributors/blob/master/docs/en/README.md#tabela-de-emoji-v270 the table version is in 2.7 and the project in 2.7.1 which means that something is mis

[2019-01-18 17:30] Berkmann18 commented on #134
With what @jakebolam implemented on all-contributors-bot (after what happened with the addition of Korean translations) this issue should be resolved.

[2019-01-18 17:32] MatheusRV commented on #85
https://github.com/twbs/bootstrap/issues/27567#issuecomment-434578164

[2019-01-18 18:46] jakebolam commented on #134
@MatheusRV are you referring to doing this? #135

Also related: #136

[2019-01-18 18:49] MatheusRV commented on #134
Yes, tks closing this!

[2019-01-18 18:49] #134 closed

[2019-01-21 22:32] jakebolam commented on #18
We now have a bot (as well as the CLI) to automate this https://github.com/all-contributors/all-contributors-bot

[2019-01-25 15:14] Berkmann18 commented on #81
@jayvdb [I added a maintainer category](https://github.com/all-contributors/all-contributors/commit/d4e90815e777664f7a6d4e79edb6eb8e465e729a) and I was wondering if that was covering the committer category or not?

[2019-01-25 17:24] MatheusRV commented on #81
Vote to close this in favor of maintainer.

[2019-01-27 01:44] MatheusRV commented on #81
Ugly emoji for this, Maintainer is beatiful 🚧. More intuitive.

[2019-01-27 01:45] MatheusRV opened #140 "Add Maintenance in Contributor List"

[2019-01-27 01:47] MatheusRV commented on #75
@Berkmann18 remove help-wanted and add wating for feedback

[2019-01-27 01:48] MatheusRV commented on #58
Bot is awesome. Is it complete?

[2019-01-27 01:49] MatheusRV commented on #19
How about ask for help in GitHub Team?

[2019-01-27 01:51] kentcdodds commented on #81
I'm ambivalent.

[2019-01-27 01:53] jakebolam commented on #58
It's got most features, just working on polishing now.

Feel free to start promoting it!

[2019-01-27 01:56] MatheusRV opened #141 "Project Manager"
I sugest 📋 (Clipboard)

[2019-01-27 02:03] jakebolam opened #142 "Consolidate readme information into central place"
This work has been completed on:
- https://github.com/all-contributors/all-contributors-bot
- https://github.com/all-contributors/all-contributors-cli

I believe the next step is to consolidate the specification information available in this readme. So the website becomes the single source of truth.

I think we should do this, once the website has additional languages: https://github.com/all-contr

[2019-01-27 13:10] Berkmann18 commented on #141
I like that but it's already used for _event organisation_, some alternative choices would be 📜 or 🗒.

[2019-01-27 16:59] Berkmann18 commented on #75
@MatheusRV Good point.

[2019-01-27 22:55] jakebolam opened #143 "Call for translators"
We're in the progress of moving all of our documentation to a central location #142. This place is the website, and do this we need to translate the website (coming in https://github.com/all-contributors/website/pull/14)

If you've ever wanted to contribute and help the cause of open source, now is your chance. We need you!

We're looking for translation help for the documentation in
- French
- Sp

[2019-01-27 23:16] jakebolam commented on #143
@Berkmann18, @robertlluberes, @Jongjineee and @MatheusRV

Thanks for all your support already!

Would you be able to help out with French, Spanish, Korean and Portuguese respectively?

[2019-01-28 02:32] robertlluberes commented on #143
Yes I will, I'm glad to help to translate the project 🌎 . @jakebolam

[2019-01-28 03:07] Jongjineee commented on #143
I'll help. Thank you for giving me a good chance. :)

[2019-01-28 03:12] jakebolam commented on #143
Thanks @Jongjineee and @robertlluberes. I've upgraded your accounts so you can approve your own strings! and other translators strings :)

[2019-01-28 03:35] jakebolam commented on #141
I like the idea

[2019-01-28 08:11] RichardLitt commented on #18
@Berkmann18 The bot probably covers this. I haven't had the time. :(

[2019-01-28 11:01] Berkmann18 commented on #18
@RichardLitt It doesn't as it's not auto fetching from the repo, it does automate the config/README change process but it will **still** require a request for _each_ contributors.

[2019-01-28 11:21] Berkmann18 commented on #143
Yup, I can also give a hand with Spanish although I'm a beginner at Spanish.

[2019-01-28 11:34] rogeriopradoj commented on #143
Hi, @jakebolam , when you say Portuguese it's pt-pt (European Portuguese) ou pt-BR (Brazilian Portuguese)?

If it is Brazilian Portuguese, I can help too!

Let me know how could I do that, ok?

[2019-01-29 03:52] jakebolam commented on #143
@rogeriopradoj yes Portuguese, Brazilian! I've updated crowdin to reflect this! https://crowdin.com/project/all-contributors

[2019-01-29 03:53] jakebolam commented on #143
Thanks everyone for all your translation submissions already!

Once we've got some of the translations in, we will kick off a deploy of the website so we can see how its all coming along :)

[2019-01-29 06:47] MarsXue commented on #143
Hey there, I can help with Chinese translation :)

[2019-01-29 06:55] YuleYu commented on #143
Yep, can help with Chinese.

[2019-01-29 11:59] Berkmann18 commented on #140
Is that to add the maintenance category to whom it applies to?

[2019-01-29 12:22] MatheusRV commented on #143
I could help in pt-br to. How can i access crowdin?

[2019-01-29 12:24] MatheusRV commented on #140
Yes, you and @jakebolam isnt with maintence emoji.

[2019-01-29 13:18] jakebolam commented on #143
Thanks everyone.

To access crowdin, head to: https://crowdin.com/project/all-contributors and create an account, you should have access immediately. Once you've submitted some translations to the project I'll upgrade your accounts so you can approve your own translations.

[2019-01-29 13:19] jakebolam commented on #143
@MarsXue / @YuleYu thank you so much, that would be such a great addition.

Which Chinese: Simplified or Traditional?

[2019-01-29 13:22] jakebolam commented on #143
To approve translations (even your own), switch your view to `_proofreading_
![screen shot 2019-01-29 at 8 22 42 am](https://user-images.githubusercontent.com/3534236/51911134-05777d80-239f-11e9-98d8-302ee4d4242b.png)

[2019-01-29 13:43] MarsXue commented on #143
Great

[2019-01-29 17:36] Berkmann18 commented on #140
Good call
@allcontributors please add @jakebolam and @Berkmann18 for maintenance

[2019-01-29 17:37] Berkmann18 commented on #141
Or 📆 ?

[2019-01-29 19:02] #140 closed

[2019-01-29 19:03] MatheusRV commented on #140
@Berkmann18 he dont add you

[2019-01-29 19:04] MatheusRV commented on #141
Nice for event..

[2019-01-30 04:17] jakebolam commented on #143
Great progress, wow :rocket:

@Berkmann18 @MarsXue @MatheusRV I've upgraded your accounts, you can now approve translations

[2019-01-31 00:42] jakebolam commented on #143
The first set of translations are on the site!

https://all-contributors.js.org/docs/en/overview
https://all-contributors.js.org/docs/fr/overview
https://all-contributors.js.org/docs/es-ES/overview
https://all-contributors.js.org/docs/ko/overview
https://all-contributors.js.org/docs/pt-BR/overview
https://all-contributors.js.org/docs/zh-CN/overview

[2019-01-31 13:22] jakebolam opened #155 "Improve basic styling of documentation pages"
Improve the basic styling of documentation, some improvements that could be made:

## Header
- Search Bar Styling
- Search Results Styling
- Language Selection Dropdown

## Footer
- The footer

[2019-01-31 14:10] tphbrok commented on #143
If Dutch is among the list of languages of interest, I'd be happy to help!

[2019-01-31 14:12] Berkmann18 commented on #143
@tphbrok That would be great!

[2019-01-31 14:38] jakebolam commented on #143
@tphbrok your account is now upgraded!

[2019-01-31 15:51] Berkmann18 commented on #143
@tphbrok Sure, let us know if you're having any issues. In the meantime, feel free to join the [slack group](https://all-contributors.slack.com).

[2019-02-01 04:28] jakebolam opened #159 "Document how to contribute to translating"
How to:
- [x] Login to crowdin
- [x] Translate strings
- [x] Caveats with hidden strings and links, the `xpath` property see (#157)
- [ ] Proofreaders approving strings
- [x] Deploying changes to the site
- [x] Adding yourself to the contributor table!

[2019-02-01 04:29] jakebolam opened #158 "Ensure search is only for the current language"
Tweak this setting: https://github.com/all-contributors/website/blob/master/website/siteConfig.js#L51

See documentation: https://docusaurus.io/docs/en/search#docsNav

[2019-02-01 13:43] jakebolam opened #156 "Links are being translated resulting in broken URLs"
E.g. https://all-contributors.js.org/docs/zh-CN/仓库维护人员

[2019-02-02 18:31] khzd commented on #143
hi
I would participate for french translation , how to process?
cheers

[2019-02-03 20:45] jakebolam opened #150 "Use custom domain or all-contributors.js.org"
## Motivation
`all-contributors.js.org` may put off projects using other languages, and all-contributors is intended for everyone!

Which domain should we use?

## Context
- .js.org has better SEO and trust in the community.
- there are already a bunch of links to all-contributors.js.org on the internet, we would need to support redirects
- we own cnames `all-contributors.js.org`, `allcontributors

[2019-02-03 21:42] jakebolam commented on #142
Most information is on the website (https://all-contributors.js.org), with a great new homepage! Waiting for the results of #150, a little more translating in #143. and some better SEO for the final centralization.

[2019-02-03 22:56] dance2die commented on #150
I 👍 `allcontributors.com`.

1. Domains without non-ascii characters look more authentic IMHO.
1. I find it easier to type

`.js.org` might be SEO friendly but haven't seen many `.js.org` sites popup in my Google results.

[2019-02-04 00:01] tbenning commented on #150
I think the most ideal would be allcontributors.org. It seems quite common for open source projects to use .org.

Using allcontributors.com is good too, but might seem like more of a tech company rather than an open source tool/community.

Examples:
https://reactjs.org/
https://www.gatsbyjs.org/

[2019-02-04 03:17] jakebolam opened #151 "Optimise allcontributors.com for SEO"
## Motivation
When someone googles all contributors, the website should be the first hit!

[2019-02-04 10:33] Berkmann18 commented on #150
`.js.org` is not a TLD I've seen much (if not at all) so I doubt it would be easy to remember when looking for the website, it also seems longer than needed.
`.com` as @tbenning pointed out make the `allcontributors` name seem like a corporation/company instead of an `org`anisation (which is what `.org` is for).

So I'll prefer having `allcontributors.org` over the other two.

Regarding the SEO, t

[2019-02-04 10:38] Berkmann18 commented on #151
Here's a [checklist worth looking at](https://github.com/thedaviddias/Front-End-Checklist#seo) for SEO (and other website stuff).

[2019-02-04 10:41] Berkmann18 commented on #143
@khzd Hi, head over to https://crowdin.com/project/all-contributors and then create an account and you should be able to translate what's left.
Note: I recall having translated 100% of the content in French, so you may need to wait for @jakebolam to upgrade your account to proofreader.

[2019-02-04 15:36] jakebolam commented on #150
Thanks for the input everyone! Plan is to roll this out today!

[2019-02-04 18:31] #142 closed

[2019-02-04 18:37] Berkmann18 opened #157 "Malformed emoji-key on all translated versions"
The emoji-key table on all translated versions (except for the English) one seems to split the cells with `<br>` into two rows resulting in having the types in a separate row than the emojis.

![en](https://www.dropbox.com/s/87n6dloe5j7uj9b/en-ek.png "English Emoji-key")

![fr](https://www.dropbox.com/s/f7w5hdimbc33bx9/fr-ek.PNG?dl=0 "French Emoji-key")

[2019-02-04 18:38] jakebolam opened #160 "Ensure site works in all major browsers"

[2019-02-04 19:59] jakebolam commented on #156
Good spot, yeah will need to look at that too.
I think its coming from: https://docusaurus.io/docs/en/doc-markdown#generating-table-of-contents

[2019-02-04 20:01] jakebolam commented on #156
It looks like we can hide the hidden strings, and prevent the problem occurring by just keeping everyone as translators.
https://support.crowdin.com/online-editor/

[2019-02-04 20:01] jakebolam commented on #143
Your account is good to go!

[2019-02-05 11:58] Berkmann18 commented on #142
@jakebolam Do you if the @all-contributors-release-bot is the same as @all-contributors (from a contributors' perspective)?
If so I'll ask it to add itself for `platform`.

[2019-02-05 11:59] Berkmann18 commented on #142
Whoops! I didn't expect it to understand that.

[2019-02-05 12:33] Berkmann18 commented on #19
@MatheusRV Good point, I've contacted them to see what they think.

[2019-02-05 12:35] Berkmann18 commented on #15
@chrissimpkins Have you had a chance to prepare a PR for that?

[2019-02-05 13:21] chrissimpkins commented on #15
@Berkmann18 Unfortunately I have not. Apparently three years was not sufficient time. :) My apologies.

Is this still something of interest? I have been following very peripherally and will need to catch up with where things are to submit this.

[2019-02-05 13:43] Berkmann18 commented on #15
@chrissimpkins It's still something of interest, have you looked at the [website](https://all-contributors.js.org), the [CLI](https://github.com/all-contributors/all-contributors-cli) and the [bot](https://github.com/all-contributors/all-contributors-bot)?

[2019-02-05 14:42] dance2die commented on #143
May I request to translate Korean documentation on crowdin?

@Jongjineee might be help to proofread/update my translations 🙂.

[2019-02-05 14:43] dance2die commented on #143
Would you have an invitation link by chance for the slack group?

[2019-02-05 14:46] Berkmann18 commented on #143
@dance2die

If you log into (or create and log into) Crowdin, you should be able to get started, regarding proofreading @jakebolam would need to upgrade your account.

Yup, [here it is](https://join.slack.com/t/all-contributors/shared_invite/enQtNTE3ODMyMTA4NTk0LTUwZDMxZGZkMmViMzYzYzk2YTM2NjRkZGM5Yzc0ZTc5NmYzNWY3Y2Q0ZTY3ZmFhZDgyY2E3ZmIzNWQwMTUxZmE).

[2019-02-05 15:18] Berkmann18 opened #165 "Community profile checklist"
This repo, as of now, has an incomplete [community checklist](https://github.com/all-contributors/all-contributors/community) and it would be good to check more items to improve its community profile.

## What can you do?
1. Check that the community checklists on:
- [AC-CLI](https://github.com/all-contributors/all-contributors-cli/community)
- [AC-bot](https://github.com/all-contributors/all-contr

[2019-02-05 15:49] MatheusRV commented on #83
So busy right now, this PR needs integration with bot.

[2019-02-05 15:53] Berkmann18 commented on #83
@MatheusRV Okay.

[2019-02-05 17:02] Berkmann18 commented on #143
@dance2die

Awesome 😄.

[2019-02-05 17:51] jakebolam opened #166 "Get started, contribute to all-contributors"
If you want to contribute to all contributors, but you're not sure where to start, then leave some questions below and we will help point you in the right direction!

## Motivation
We want to make it easier to contribute!

[2019-02-05 18:07] jakebolam commented on #143
Thanks for the help everyone! So many translations coming in!
<img width="822" alt="screen shot 2019-02-05 at 8 03 45 am" src="https://user-images.githubusercontent.com/3534236/52294192-b7bdc080-291c-11e9-975d-fd4344719501.png">

We have a ticket to improve the docs on contributing to translations #159, so if you find anything please comment on the ticket to help us!

[2019-02-05 18:10] jakebolam commented on #143
@tphbrok we haven't enabled dutch on the site yet. As a community, we need to decide on a minimum translation percentage of a language, before we enable on the site.

Does anyone have any thoughts around this?

[2019-02-05 23:03] jakebolam commented on #150
Update: rollout is blocked, waiting on DNS name server propagation. ~30 hours into the 48 hour window.

[2019-02-05 23:57] Berkmann18 commented on #143
@jakebolam I think having 60% would be a good threshold to ensure that the translated content would be of use to users who perhaps don't have a decent understanding of the English docs.
Although, it might perhaps get more attraction for the languages where the content isn't complete.

[2019-02-06 07:55] tphbrok commented on #143
@jakebolam @Berkmann18 I agree to having 60% as a fair start. If I take a look at the [MDN Web Docs](https://developer.mozilla.org) for example, the percentage of material translated from English to Dutch is roughly 30% at most. I got caught up in some other work needing priority, but I will definitely get into bringing the amount of content translated to Dutch to a minimum of 60%.

[2019-02-06 18:23] jakebolam opened #171 "Setup netlify for deploy preview"
## Motivation
Ability to see a version of the site on PRs.

See https://www.netlify.com/docs/continuous-deployment/#branches-deploys

[2019-02-06 18:24] jakebolam opened #172 "Switch to netlify"
Should we switch hosting from github-pages to netlify?

https://www.netlify.com/github-pages-vs-netlify/

[2019-02-06 18:38] Berkmann18 commented on #172
I'm down for trying netlify which seems better for us.

[2019-02-07 04:21] chrissimpkins commented on #15
Just checked out all of the links.  Lots of work going on here.  Looks great!  👏  to all of the contributors  :)

I would be willing to PR in a set of mocked up README docs that follow the spec if your request is to address the OP comment that I made.  Does the CLI tool support `*.rst` as well as `*.md` files?  If not, do you want `*.rst` too?

[2019-02-07 09:12] Berkmann18 commented on #15
Awesome.

It supports both (and possibly more but I only tested on both extensions).
I think having the `*.rst` one might be good for those who use those files like how `*.md` files are used on GH.

[2019-02-07 14:37] ayanujju commented on #166
I would like to contribute. Please help me to get started.

[2019-02-07 16:12] Berkmann18 commented on #166
@ayanujju Have you checked https://allcontributors.org/docs/ and issues on [this repo](https://github.com/all-contributors/all-contributors/issues), the [CLI one](https://github.com/all-contributors/all-contributors-cli/issues) and/or the [bot one](https://github.com/all-contributors/all-contributors-bot/issues)?
In any case, how do you think you can contribute?

[2019-02-07 23:03] robertgrzonka commented on #143
Hello Guys,
I didn't see other hands raised for polish 🇵🇱 translation, so here I am as next volunteer. Stay tuned! :)

[2019-02-08 02:37] #150 closed

[2019-02-08 09:23] Berkmann18 commented on #143
@robertgrzonka Awesome, check out [this guide](https://allcontributors.org/docs/en/project/contribute) and comment if you have any issues/questions (which you can also raise in the [slack channel](https://join.slack.com/t/all-contributors/shared_invite/enQtNTE3ODMyMTA4NTk0LTUwZDMxZGZkMmViMzYzYzk2YTM2NjRkZGM5Yzc0ZTc5NmYzNWY3Y2Q0ZTY3ZmFhZDgyY2E3ZmIzNWQwMTUxZmE)).

[2019-02-08 10:44] Berkmann18 commented on #156
This issue seems to be fixed.

[2019-02-08 10:44] Berkmann18 commented on #155
@tbenning Do you want to have a go at this?

[2019-02-08 10:48] #58 closed

[2019-02-08 15:36] codimiracle commented on #166
I am Chinese, i want to see "中文" docs. but it links to "https://allcontributors.org/docs/ch-CN/overview".
and show 404 page. so, i want to modify README.md change it to "https://allcontributors.org/docs/zh-CN/overview" that will be see a familiar chinese docs.

it is said that i need to make a pull request?

![image](https://user-images.githubusercontent.com/21952540/52487816-6e5dc180-2bf9-11e9-91

[2019-02-08 15:39] MatheusRV commented on #85
Just a ideia

![chrome_31dhmtxpt3](https://user-images.githubusercontent.com/23284276/52488413-e949bc80-2ba6-11e9-8390-1c950ea3447e.png)

https://getbootstrap.com/docs/4.2/about/team/

[2019-02-08 15:42] MatheusRV commented on #156
Still geting a 404 on https://github.com/all-contributors/all-contributors/blame/master/README.md#L17

[2019-02-08 16:00] codimiracle commented on #156
i fixed it in my repo: https://github.com/codimiracle/all-contributors @MatheusRV

[2019-02-08 16:14] Berkmann18 commented on #156
@MatheusRV Oh! that's due to a typo.
Well spotted.

[2019-02-08 16:18] codimiracle commented on #156
Ofcourse!

[2019-02-08 16:18] Berkmann18 commented on #85
That looks good to although I believe it wouldn't be similar enough to the current AC table style/format with less info (e.g. no contribution emojis).

[2019-02-08 17:05] MatheusRV commented on #85
I think where is follow the emoji, we could improve this.

[2019-02-08 17:11] Berkmann18 commented on #85
@MatheusRV The column view, that's already configurable; where the `"contributorsPerLine"` property in `.all-contributorsrc` could be set to `2`.

I think it's definitely a good idea to have a place where visitors can 1-click to follow someone (which could be placed where contribution emojis are?)

[2019-02-08 17:37] jakebolam commented on #166
Yes @codimiracle, thanks for doing this in #174 !

[2019-02-08 17:37] jakebolam commented on #143
@robertgrzonka, we've enabled polish as a language. Using the guide above you should be able to get started :)

[2019-02-08 18:47] The24thDS commented on #143
Hello 😃
As @jakebolam already knows I love this project. I can take my ❤️ to the next level by translating the documentation in Romanian [🇷🇴] if it's needed.

[2019-02-08 20:30] robertgrzonka commented on #143
That's great, thanks!

[2019-02-08 20:40] jakebolam commented on #143
@The24thDS that would be great. We've enabled Romanian translations :)

[2019-02-08 20:43] dance2die commented on #143
@all-contributors please add @dance2die for translating

As per [Notes for Repository Maintainers](https://allcontributors.org/docs/en/repository-maintainers).

😉

[2019-02-08 20:46] dance2die commented on #143
@all-contributors please add @dance2die for translation

Woops. translating -> translation

[2019-02-08 21:41] jakebolam commented on #143
Bot got confused with all the extra text. Better support coming soon https://github.com/all-contributors/all-contributors-bot/issues

[2019-02-09 02:09] codimiracle commented on #156
https://allcontributors.org/docs/zh-CN/%E5%B7%A5%E5%85%B7

[2019-02-09 02:12] codimiracle commented on #156
page not found list:
https://allcontributors.org/docs/zh-CN/工具
in page follows:
https://allcontributors.org/docs/zh-CN/repository-maintainers
https://allcontributors.org/docs/zh-CN/emoji-key
----
https://allcontributors.org/docs/zh-CN/bot/安装
in page:
https://allcontributors.org/docs/zh-CN/bot/overview
----
https://allcontributors.org/docs/zh-CN/bot/用法
in page:
https://allcontributors.org/docs/zh-C

[2019-02-09 02:17] jakebolam commented on #156
We run a 404 check after every deploy to find issues. Last run results: https://circleci.com/gh/all-contributors/all-contributors/358

[2019-02-09 09:31] astra1 commented on #143
🇷🇺 Hello from Russia! Need some help with translation?

[2019-02-09 09:51] jakebolam commented on #143
@astra1 that would be awesome! We've enabled Russian, you can follow the contributing docs above.

[2019-02-09 15:54] askareija commented on #143
Maybe i can help with Indonesian translation?
I also part of Indonesian translator in VSCode, LMMS, and DeepinOS (They are using transifex actually)

[2019-02-09 22:10] jakebolam commented on #143
@askareija totally! We've enabled Indonesian translations too.

You can follow the translation documentation to get started: https://allcontributors.org/docs/en/project/contribute#translations

[2019-02-11 12:10] margaridaDinis commented on #143
I can help with Portuguese (PT-PT)!

[2019-02-12 05:17] jakebolam commented on #143
@margaridaDinis if you could that would be great! You can find out here: https://allcontributors.org/docs/en/project/contribute#translations. Any questions just ask here :)

[2019-02-12 05:18] jakebolam commented on #143
@all-contributors please add @askareija for translating

[2019-02-12 05:25] jakebolam commented on #143
@all-contributors please add @astra1  for translating

[2019-02-12 05:25] jakebolam commented on #143
@all-contributors please add @robertgrzonka for translating

[2019-02-12 05:26] jakebolam commented on #143
@all-contributors please add @The24thDS for translating

[2019-02-12 05:26] jakebolam commented on #143
@all-contributors please add @tphbrok for translating

[2019-02-12 05:28] jakebolam commented on #143
Thanks for all the translations so far. I've updated this PR description with the current progress, and pushed a bunch of changes live: [allcontributors.org](https://allcontributors.org)

If we missed adding you as a contributor please ask the bot :)

[2019-02-12 05:31] jakebolam opened #187 "Fix 404s on website"
There are a number of 404s being reported in CI. see https://circleci.com/gh/all-contributors/all-contributors/372

It would be good to resolve these, to avoid a bad experience

[2019-02-12 07:09] YuleYu commented on #143
@jakebolam it seems I missed adding as Chinese translator.

[2019-02-12 10:27] codimiracle commented on #143
This Chinese translation copy is a draft version, it need to polishing.

[2019-02-12 14:40] Berkmann18 commented on #187
Here's the list of all URLs that need to be fixed:
- [ ] https://allcontributors.org/docs/ko/사양
- [ ] https://allcontributors.org/docs/ko/리포지토리-관리자
- [ ] https://allcontributors.org/docs/ko/툴링
- [ ] http://localhost:3000/
- [ ] https://allcontributors.org/docs/es-ES/bot/utilización
- [ ] https://allcontributors.org/docs/fr/bot/utilisation
- [ ] https://allcontributors.org/docs/ko/bot/설명서
- [ ] htt

[2019-02-12 15:54] Berkmann18 commented on #172
Should we keep the `gh-pages` for deployments on Netlify or should we switch to `master`?

[2019-02-12 16:30] Berkmann18 commented on #143
@khzd If you don't know where to start, please see my comment on https://crowdin.com/translate/all-contributors/52/en-fr which I purposely left so that you would have something to do.

[2019-02-12 18:48] jakebolam commented on #143
@all-contributors please add @YuleYu as a translator

[2019-02-12 18:49] jakebolam commented on #143
Whoops translator type is not a thing (adding here: https://github.com/all-contributors/all-contributors-bot/pull/141)

[2019-02-12 18:49] jakebolam commented on #143
@all-contributors please add @YuleYu for translating

[2019-02-13 13:01] jakebolam commented on #143
Indonesian goes live on the website. Thanks to `grineproject` aka @askareija 🎉

https://allcontributors.org/docs/id/overview

[2019-02-14 02:40] dance2die opened #196 "Commands are not generated in translated CLI Usage documentation"
I found out that the command list is not auto-generated in Korean documentation.
English Doc: https://allcontributors.org/docs/en/cli/usage#commands
Korean Doc: https://allcontributors.org/docs/ko/cli/usage#%EC%BD%94%EB%A9%98%EB%93%9C%EB%93%A4

![error image](https://user-images.githubusercontent.com/8465237/52758600-ea2f8380-2fd6-11e9-9e28-29f5b2545844.png)

_______________
_______________

* The

[2019-02-14 03:52] jakebolam commented on #196
Thanks for the catch.

I'm not sure what's going on. Looks like it should work at documented on the docusauraus docs.

Filed an issue (please add additional context of missing) https://github.com/facebook/Docusaurus/issues/1234

[2019-02-14 09:38] Berkmann18 commented on #196
@jakebolam This is most likely due to the removal of the ToC on the CLI's README (remember our discussion on removing that?).

[2019-02-14 11:49] dance2die commented on #196
Thank you for taking an action to resolve this issue 🙂

[2019-02-14 15:10] RichardLitt commented on #18
That is less than ideal. I think we can change that. Let's keep working in https://github.com/mntnr/name-your-contributors/issues/45?

[2019-02-14 16:10] Berkmann18 commented on #18
@RichardLitt Yeah, ideally we could get the auto-fetching on the CLI which would then help the bot (which relies on the CLI) to then create a PR with all the existing contributors.

[2019-02-14 22:46] danielandersson commented on #143
Hey, I would be happy to help with the 🇸🇪 translation 🤓

[2019-02-15 09:53] Berkmann18 commented on #143
@danielandersson That would awesome :).

[2019-02-19 02:56] jakebolam commented on #143
Activity this week:
- Indonesian (100%) - Thanks @askareija for ✅ 100% COMPLETION, and LIVE ON THE SITE
- Korean (65%) - Thanks @dance2die for kicking it up a bunch! Well on the way now
- Polish (38%) - Up from 16%, huge week thanks @tphbrok. Almost ready for the site
- Swedish (2%) - Thanks @danielandersson for getting the ball rolling

[2019-02-19 04:06] robertgrzonka commented on #143
That's a little sad for me, because Polish translation was made... by me :)

[2019-02-19 07:45] askareija commented on #143
cool, i've tested it and still need to fix some stuff, like id, when i click some links, it redirects to 404 page

[2019-02-19 09:51] Berkmann18 commented on #143
@askareija That's possibly because you translated a page name and not the URL names or the other way round.

[2019-02-19 10:06] askareija commented on #143
@Berkmann18
yea like :
`https://allcontributors.org/docs/id/bot/installation` will work (this link on the sidebar) but
`https://allcontributors.org/docs/id/bot/pemasangan` but that will give 404 (this link on What's Next)

so should i return the translated `id` string to source? like this script (it's on the top `configuration.md` files):
[code]

[2019-02-19 10:15] codimiracle commented on #143
Oh...docusaurus use it in links.

[2019-02-19 10:23] Berkmann18 commented on #143
@askareija It's, as discussed in #156, due to having the page names (`id`) being changed while the pages that have a reference to that page will be using another id (say, using the translated version when the `id` was kept in English, or vice-versa).

[Here's a brief explanation on what should be left](https://allcontributors.org/docs/en/project/contribute#translations).

This also touches upon #1

[2019-02-19 11:56] askareija commented on #143
@Berkmann18 i see..okay i will return it back to original source string, and also tweaking some translation for make it more user/developer friendly read.

[2019-02-19 12:10] Berkmann18 commented on #143
@askareija Okay, also check the [list of URLs that needed to be fixed](https://github.com/all-contributors/all-contributors/issues/187#issuecomment-462784666) and check those who are fixed (if I missed any).

[2019-02-19 12:12] sinchang commented on #141
agree with your idea 📆 cc @Berkmann18

[2019-02-19 12:15] sinchang commented on #81
I think it's enough we already have maintainer category

[2019-02-19 12:18] #81 closed

[2019-02-19 12:24] jakebolam commented on #143
@robertgrzonka I miss read the activity stream. I've updated the list, thank you so much!

https://crowdin.com/project/all-contributors/activity_stream

[2019-02-19 12:28] jakebolam commented on #143
@all-contributors please add @margaridaDinis for translating

[2019-02-20 15:59] jakebolam commented on #158
FYI algiolia side settings: https://github.com/algolia/docsearch-configs/blob/master/configs/all-contributors.json

[2019-02-20 16:02] jakebolam opened #201 "Violation of attribution policy: Missing Algolia logo on search."
## Issue
It seems that the Algolia logo has been removed from the footer of the dropdown thanks to a background CSS rule:
![alogila](https://user-images.githubusercontent.com/3534236/53105253-c13f4f00-34fe-11e9-8bf7-76998a3df020.png)
We need to put this logo back since it is mandatory as part of Aloglia's attribution policy.

## Should be
![screen shot 2019-02-20 at 10 58 53 am](https://user-image

[2019-02-20 16:07] s-pace commented on #158
TIP: Once this settings is done from siteConfig, please ensure that you do not inject the following snippet two times :)
![image](https://user-images.githubusercontent.com/32097720/53105785-02048b80-3532-11e9-9535-a31d5735b11a.png)

[2019-02-20 16:09] s-pace commented on #201
For reference, you can [see our attribution policy here](https://community.algolia.com/docsearch/styling.html#attribution).

Thank you for the quick follow up

[2019-02-20 16:09] jakebolam commented on #201
@all-contributors please add @s-pace for plugins

[2019-02-20 16:15] jakebolam opened #203 "Update plugin description to support 3rd party integrations"
Perhaps we should update the description of the `plugin` type to include: supporting 3rd party integrations

[2019-02-20 16:16] Berkmann18 commented on #203
Yes as those are technically plugins.

[2019-02-20 16:18] Berkmann18 commented on #201
Is that only translated versions __and__ the English one or just translated ones?

[2019-02-23 19:32] #171 closed

[2019-02-23 19:32] jakebolam commented on #172
Closed in #211

[2019-02-23 19:32] #172 closed

[2019-02-24 01:00] jakebolam opened #215 "Convert 404 CI check to cloud function"
Lets drop the CIRCLECI 404 check and add it to:
allcontributors.org/404-report

Bonus points if this case work with deploy previews as well

[2019-02-24 01:55] jakebolam commented on #215
May be better just to use https://www.brokenlinkcheck.com/broken-links.php

[2019-02-24 01:58] jakebolam commented on #187
Looking alot better now!
![screen shot 2019-02-23 at 8 53 51 pm](https://user-images.githubusercontent.com/3534236/53294053-7a2ab580-37ad-11e9-80c0-588e2233e0f3.png)

[2019-02-24 02:04] jakebolam opened #218 "all-contributors.js.org looks too much like allcontributors.org"
The landing page on the old domain, looks nearlly identical to the real site. We should considering changing the redirect-landing page to avoid confusion.

### all-contributors.js.org
![screen shot 2019-02-23 at 9 02 28 pm](https://user-images.githubusercontent.com/3534236/53294111-7a778080-37ae-11e9-91f1-8520907b11d4.png)

### allcontributors.org
![screen shot 2019-02-23 at 9 02 31 pm](https://us

[2019-02-24 14:26] peterhuerlimann commented on #143
@jakebolam Could German be added to CrowdIn?

[2019-02-24 14:29] Berkmann18 commented on #215
I think, we should keep (or find a new) a way to check for pages that resolve in 404s.

Would www.brokenlinkcheck.com be used in an automated way (e.g: as part of a CI check)?

[2019-02-24 14:30] jakebolam commented on #143
@peterhuerlimann 🎉 added, thanks for helping out!

[2019-02-24 14:32] jakebolam commented on #143
I'll be posting stats on everyone's contributions this Wednesday. Sneak peak we've had over 1'200 sessions this month.

We're interested in increasing our SEO particular for other languages. If you have ideas let us know on #151

[2019-02-24 14:50] Berkmann18 commented on #218
I guess having the "all-contributors ... has moved ..." message closer to the centre, in red and perhaps in a bigger font-size would be UX-wise good enough to indicate which one is the _correct_ website.

[2019-02-24 21:24] tbenning commented on #218
Great idea @jakebolam! It will be helpful to change the look, so it not confusing for users. So long as the call to action (link) is clearly visible it will work great for users. Red might be alarming or make users think they've made an error.

Keep an eye on the traffic coming in on the new page and we should be fine!

[2019-02-24 21:29] #218 closed

[2019-02-26 21:50] simonhoyos commented on #165
@Berkmann18 I can help with this one if it's still available

[2019-02-27 09:56] Berkmann18 commented on #165
@simonhoyos Awesome, feel free to submit a PR.

[2019-02-27 10:36] simonhoyos commented on #165
@Berkmann18 great, I'll start working on this one later tonight and will open a PR ASAP

[2019-02-27 10:43] Berkmann18 commented on #165
@simonhoyos Great, looking forward to it 😄.

[2019-02-27 22:00] simonhoyos commented on #165
@Berkmann18, none of these three projects has a code of conduct but checking contributing documentation I found one.

Would it be nice to add it to the project?

[2019-02-28 10:21] Berkmann18 commented on #165
@simonhoyos This repo [has one](https://github.com/all-contributors/all-contributors/blob/master/CODE_OF_CONDUCT.md), not sure why it's not checked on the community even tho it's pointing to it, same goes for the bot repo. The CLI repo, on the other hand indeed does have one.
So see what you can do to resolve that.

[2019-02-28 15:04] jakebolam commented on #143
### Thanks for everyones support!, massive activity this week 📈
3 languages are so close to going live on the website 🌎

- German (40%) +40%📈 **HUGE** @peterhuerlimann and `ManuelFranz`*, so close to going live on the site! 🌎
- Romanian (44%) *+39%* 📈 **HUGE**  @The24thDS, so close to going live on the site  🌎
- Brazilian (40%) + 16% So much progress thank you! `thiagodp`*
- Korean (79%) + 14% 2 w

[2019-03-02 22:01] peterhuerlimann commented on #143
@jakebolam German is 99% finished now, missing is only one string where I was unsure if the source is correct. Raised this as a issue in Crowdin; File affected: code-of-conduct.md -> report email address.

[2019-03-02 22:07] peterhuerlimann commented on #143
@all-contributors please add @peterhuerlimann for translating

[2019-03-03 00:59] Thatkookooguy opened #224 "Logo Suggestion"
Hello, all-contributors maintainers :-)

I took a look at your logo in your documentation and bot and felt like it was missing something.
Also, it had some rough edges which bothered me (like a color transparency leftovers).

I created a new logo which I thought might suit better.

Here it is:
https://codepen.io/neilkalman/full/jJqQMo

And in png form:
<img width="552" alt="logo-all" src="https://

[2019-03-03 01:03] Thatkookooguy commented on #224
I can create all the versions needed if you decide to go with this (svg, x2, x4, favicon, etc)

[2019-03-03 14:58] MatheusRV commented on #224
I prefer atual, but icon is nice.

[2019-03-03 16:22] Thatkookooguy commented on #224
@MatheusRV what is atual?

[2019-03-03 18:38] tbenning commented on #224
First of all, thanks for the suggestion! We always welcome ideas. I'm the original designer of the current logo.

I too had noticed some of the pixelation in the current implementation. We're going to replace those assets ASAP. @Thatkookooguy Can you help show screenshots of the pixelation that you're seeing on your end? That will help us out a ton!

A few things about the suggestion:
-Unsure if i

[2019-03-03 18:38] #224 closed

[2019-03-04 13:26] Thatkookooguy commented on #224
@tbenning sure! The logo was just a suggestion so I totally understand. especially if you changed to that logo just a month ago!

Added screenshots and where I found the pictures in the description below.

Basically, I wanted to take the logo and use it in our "technologies" page for one of [kibibit](https://github.com/kibibit)'s projects

So I tried opening the logo both from the homepage and the

[2019-03-04 13:53] Thatkookooguy commented on #224
oh here's the other one: https://d33wubrfki0l68.cloudfront.net/d630d4b9660d8e047e6ef219f3d2db7c61683769/6a90e/img/icons/logo-square-transparent.png

[2019-03-04 19:54] KirstieJane opened #225 "What order does all contributors bot add people?"
I *think* from playing around that it is just adding people in the order that you've added them.

I'm not very clear how I would re-arrange them? I can manually re-order the json file, but if I'm using the bot how would I "re-run" the bot to build the table?

Thank you for the really incredible tool, I've been a fan of the emoji key for years but the bot is so so so freaking cool. I absolutely lov

[2019-03-04 22:40] Berkmann18 commented on #225
The table follows the array in order. What I mean by that is that the order of contributors in the list in `.all-contributorsrc` will be reflected on the table.

[2019-03-05 14:17] jakebolam commented on #225
Hey @KirstieJane thanks for the feedback. You are doing some cool stuff at the Turing Institute!

As Berkmann18 mentioned this comes from the order of [the `contributors` array](https://allcontributors.org/docs/en/bot/configuration). We have been thinking about better ways of representing this, but nothing is started yet (e.g. order by most recent contributions, add a featured section 'contributor

[2019-03-05 14:26] KirstieJane commented on #225
Hi @Berkmann18 and @jakebolam! Thank you so much for the answers!

I love the advice to just re-enter someone in the table and it will re-generate. That's a great workaround for fixing the order - thank you 🚀

I think the current behaviour of each new name being added to the end of the list so that the table is in order of "when someone first contributed to the project" is a totally sensible defau

[2019-03-05 14:40] jakebolam commented on #143
Thanks so much @peterhuerlimann. PR up to add german to the website: https://github.com/all-contributors/all-contributors/pull/226

[2019-03-05 14:44] jakebolam commented on #225
Thanks, @KirstieJane these are great points!

Another idea we were toying with was completely randomizing it each time, do you think this would help?

[2019-03-05 14:58] KirstieJane commented on #225
So my personal opinion on randomizing is that it would feel rather chaotic. I feel like I'd look at a table and think "everything's changed" rather than seeing "oh there's a new contributor - how cool!"

I think you could put a new person in at a random point, so instead of going at the start or finish they'd just slot in somewhere?? That wouldn't look chaotic - some folks would just move along on

[2019-03-05 15:00] Berkmann18 commented on #225
@KirstieJane You're most welcome. An alphabetical listing seems to be a great idea.

[2019-03-05 15:11] KirstieJane opened #227 "Brainstorming orders of contributors in the table"
Following a discussion in #225, this issue is to collect different options on how to order the contributors in the table.

* The **default behaviour** is to add a new contributor to the end of the list.
* We could put the contributors in alphabetical order by last name... or by first name or github id if first and last names aren't available.
* We could randomise the table every time a new person

[2019-03-05 20:40] Berkmann18 commented on #227
Regarding the fixed order of emojis, I completely agree.

[2019-03-06 15:57] danielbronder commented on #143
I could help with the Dutch translation

[2019-03-06 16:00] danielbronder commented on #143
I could help with the dutch translation

[2019-03-10 12:11] prasadgujar commented on #187
@Berkmann18 @jakebolam  can I work on above mentioned issue?

[2019-03-11 10:09] Berkmann18 commented on #187
@prasadgujar Sure.

[2019-03-11 15:40] fkanout commented on #143
Hi @jakebolam, I would like to help in Arabic translation !

[2019-03-12 19:55] imolorhe opened #229 "Add all code contributors in repo to contributors list"
Hey there, is there a way to automagically add all the people that have contributed to a repo to the contributors list without having to manually enter each person?

This is especially needed for a repo that is already active with quite a number of contributors and wants to include allcontributors.

[2019-03-12 19:57] Berkmann18 commented on #229
Not yet, but it's on table.

[2019-03-12 19:58] imolorhe commented on #229
Okay. Good to know. Thanks!

[2019-03-12 19:58] #229 closed

[2019-03-12 20:17] Berkmann18 commented on #229
In the meantime feel free to contribute if you wish.

[2019-03-14 03:41] jakebolam commented on #143
@danielbronder @fkanout thanks for helping out. @fkanout Arabic is now on the translation list:
https://crowdin.com/project/all-contributors

[2019-03-14 04:03] jakebolam commented on #143
### Great 2 weeks. Thanks for the continued support, 2 languages on/ready for the site 🚀 ✨
[KOREAN](https://allcontributors.org/docs/ko/overview) and [GERMAN](https://allcontributors.org/docs/de/overview) are now at 100% COMPLETION ✅

- German (99%) +59%✅ 100% COMPLETION  [AND NOW LIVE](https://allcontributors.org/docs/de/overview) 🚀 ✨ **HUGE** @peterhuerlimann
- Korean (100%) +22% ✅ 100% COMPLETI

[2019-03-16 14:11] jakebolam commented on #143
@robertgrzonka my machine is back online, lets launch Polish! https://github.com/all-contributors/all-contributors/pull/230

[2019-03-16 14:30] robertgrzonka commented on #143
Good to hear! ✨ I will continue work on translation today/tomorrow :)

[2019-03-16 14:42] jakebolam commented on #143
@all-contributors please add @thiagodp for translating

[2019-03-16 19:03] MatheusRV opened #233 "Contributor Country Flag"
How about add country flag on right of the name?

[2019-03-16 19:25] jakebolam commented on #233
I'm open to it.

How do we handle the case where many countries share the same language/have speakers of those languages?

[2019-03-16 19:31] jakebolam commented on #151
SEO may be bad because of our high number of 404 pages in other languages. See #187

[2019-03-16 20:57] Berkmann18 commented on #233
That seems good.
@jakebolam I guess, for those where the language differs to a degree for example:
- French: France, Belgium, Quebec
- Portuguese: Portugal, Brazil
- Spanish: Spain, Argentina
- English: England, USA, Scotland
- Chinese: Cantonese-speaking places, Mandarin-speaking places

We can use the respective country although it might be tricky for say French and English and probably others.

[2019-03-16 20:58] Berkmann18 commented on #151
Yeah, that's something to tackle alongside other things.

[2019-03-16 22:59] jakebolam opened #234 "Proposal: Remove all-contributors publishing to NPM"
Consider removing the all-contributors-spec publishing to NPM. Instead use another method, perhaps just [GitHub releases](https://github.com/all-contributors/all-contributors/releases) instead.

The npm package `all-contributors-cli` could then use `all-contributors`  or both for publishing.

Thoughts?

[2019-03-16 23:10] Berkmann18 commented on #234
Well, it's definitely a good idea to remove `all-contributors-spec` from NPM (or making it private) as it seems to mislead people into thinking it's the CLI when it has no use in Node environments.
GitHub releases would be the way to go.
As for `all-contributors-cli` it could just use the GH URL for the dependency.

[2019-03-16 23:19] thiagodp commented on #143
Hi @jakebolam , new additions to the Brazilian Portuguese language (88% now...)

[2019-03-18 14:31] #141 closed

[2019-03-18 14:41] jakebolam commented on #187
@prasadgujar let us know if you need anything

[2019-03-18 14:56] prasadgujar commented on #187
@jakebolam
Sure.
Will start working on this asap.

[2019-03-18 16:33] #159 closed

[2019-03-20 02:51] edwinvrgs commented on #143
Hi @jakebolam, I would like to help with spanish

[2019-03-20 11:08] Berkmann18 commented on #143
@edwinvrgs Feel free to join https://crwd.in/all-contributors and you'll be able to help.

[2019-03-20 15:44] #201 closed

[2019-03-20 15:48] Berkmann18 commented on #15
@chrissimpkins Have you manage to get something working?

[2019-03-20 15:49] s-pace commented on #201
Thanks @Berkmann18

[2019-03-20 15:50] Berkmann18 commented on #63
As the `content` category is available, I'll close this issue.

[2019-03-20 15:50] #63 closed

[2019-03-20 15:51] Berkmann18 commented on #75
@sudheer160540 Friendly ping.

[2019-03-20 17:11] Berkmann18 commented on #201
@s-pace Thanks, the credits go to @sinchang for #206.

[2019-03-20 17:34] s-pace commented on #201
Thanks @sinchang :)

[2019-03-20 20:20] jakebolam commented on #201
Fixed it for all of docusauraus. Legend @sinchang

[2019-03-21 14:59] #158 closed

[2019-03-22 00:29] dance2die opened #240 "Icons not showing up for ":ballot_box_with_check:" and ":wastebasket:""
# Issue

`:ballot_box_with_check:` and `:wastebasket:` are not rendered as icons.

The problem occurs for all translations.

# Demo

![chrome_2019-03-21_20-21-13](https://user-images.githubusercontent.com/8465237/54793233-c71c7300-4c17-11e9-95ac-f3c343b5fdef.png)

# Where?

You can find the erroneous document 👇
https://allcontributors.org/docs/en/project/contribute#translate-strings

[2019-03-22 02:12] jakebolam commented on #240
Thanks for catching this!

[2019-03-22 10:11] Berkmann18 commented on #240
It seems to be due to Docusaurus not supporting emojis yet but hopefully [v2 will be released soon](https://github.com/facebook/Docusaurus/issues/789).

[2019-03-22 13:49] dance2die commented on #240
Thanks for reviewing the issue~

[2019-03-22 15:07] jakebolam commented on #227
@tbenning may be working on a web-app to add contributors. We may be able to do something cool with the ordering here too!

[2019-03-22 15:12] jakebolam opened #243 "[RFC] Webapp to add/manage contributor table"
## Motivation
The cli/bot have come a long way to helping manage the table, sometimes the need to remove/re-arrange/modify the configuration of the table would be helpful.

When there is no issue/PR the ability to add a contributor would be great (see feature request https://github.com/all-contributors/all-contributors-bot/issues/149)

## Recommendation
Adding this ticket as a place to start discu

[2019-03-22 15:36] Berkmann18 commented on #243
I'm definitely up for it.
I think @gr2m's suggestion is a good way to go, i.e.: OAuth based web app that basically simulates the add process of the bot/CLI.

[2019-03-22 16:15] Berkmann18 commented on #240
No problem 😁.

[2019-03-22 17:28] gr2m commented on #243
I’d love to see that, too. I want to make this simple with Probot so this would be a great guinea pig project. I think (custom) UIs with a login button that use an app’s client id/secret is something we could start with. Who ever would like to work on this, I’d love to find out how what the developer experience would look like in an ideal world. We can make up APIs for probot and then make it work

[2019-03-22 20:28] jakebolam commented on #143
### 👏 Thanks for the continued support
[Portuguese](https://allcontributors.org/docs/pt-br/overview) and [Spanish](https://allcontributors.org/docs/es-es/overview) are now at 100% COMPLETION ✅

- Portuguese (100%) +60% ✅ 100% COMPLETION ✨ **HUGE** @thiagodp, @jprask and @rogeriopradoj for this massive effort
- Spanish (100%) +38% ✅ 100% COMPLETION, thanks @edwinvrgs, @robertlluberes
- Dutch (10%)

[2019-03-22 20:29] jakebolam commented on #143
@all-contributors please add @jprask for translating

[2019-03-22 20:29] jakebolam commented on #143
@all-contributors please add @rogeriopradoj for translating

[2019-03-22 20:30] jakebolam commented on #143
@all-contributors please add @edwinvrgs for translating

[2019-03-22 20:30] jakebolam commented on #143
@all-contributors please add @danielbronder for translating

[2019-03-22 20:30] jakebolam commented on #143
@all-contributors please add @turbolego for translating

[2019-03-22 20:31] jakebolam commented on #143
@all-contrbutors please add @fkanout for translating

[2019-03-22 20:31] jakebolam commented on #143
Thanks everyone, really need that multi-add feature hey 😂 https://github.com/all-contributors/all-contributors-bot/issues/100

[2019-03-22 20:34] jakebolam commented on #143
@all-contributors please add @fkanout for translating

[2019-03-22 20:35] jakebolam commented on #143
### 👏 Thanks for the continued support
[Portuguese](https://allcontributors.org/docs/pt-br/overview) and [Spanish](https://allcontributors.org/docs/es-es/overview) are now at 100% COMPLETION ✅

- Portuguese (100%) +60% ✅ 100% COMPLETION ✨ **HUGE** @thiagodp, @jprask and @rogeriopradoj for this massive effort
- Spanish (100%) +38% ✅ 100% COMPLETION, thanks @edwinvrgs, @robertlluberes
- Dutch (10%)

[2019-04-09 21:17] lwasser commented on #15
hi colleagues @Berkmann18 @chrissimpkins i was digging around trying to find whether there is an .rst implementation (or markdown) rather than HTML for this bot. i use readthedocs which doesn't love html tables embedded within rst files. I may have missed this in the docs but is there a way to implement the bot so it writes the contributor table using rst or md? this issue suggests it may be possi

[2019-04-09 22:56] Berkmann18 commented on #15
@lwasser There's no option (afaik) for now that enables you to tell the bot which format to use but I reckon it would be a great feature to add.
Would mind opening a PR for that?

[2019-04-12 10:11] MrSyee opened #255 "PR another branch except master branch"
I'd like to suggest an option on which target branch to choose when PR.
Currently using `@all-contributors add` command, only push the master branch.

How would you think about this?

[2019-04-12 12:51] Berkmann18 commented on #255
That's a good idea.
Would you mind opening a PR for this?

[2019-04-15 12:54] Berkmann18 commented on #166
@ayanujju Have you had a chance to look into the documentation and issue pages?

[2019-04-15 13:06] Berkmann18 commented on #187
Update on the broken URLs:
![image](https://user-images.githubusercontent.com/8260834/56134962-a1208f00-5f87-11e9-887e-8416346d6f38.png)

[2019-04-16 01:12] jakebolam commented on #255
I believe the bit opens the PR against whatever the repositories default branch is: https://github.com/all-contributors/all-contributors-bot/pull/46

[2019-04-18 07:18] MrSyee commented on #255
Thank you! How do I check this update? We use all-Contributors bot. Is there a new bot command for this update?

[2019-04-18 09:32] Berkmann18 commented on #255
@MrSyee Normally you should have the latest update available (I think).

[2019-04-19 09:40] uraway commented on #143
Could you add Japanese translation project?

[2019-04-19 11:08] Berkmann18 commented on #143
@uraway Done 😁.

[2019-04-25 01:59] wesbragagt commented on #166
I would love to contribute in any way or another, I'm bilingual in Portuguese if you guys are still in need of translation.

[2019-04-25 08:39] Berkmann18 commented on #166
@wesbragagt Sweet, feel free to join https://crowdin.com/project/all-contributors and either I or @jakebolam will make you a translator (or proofreader, if you wish),
Have a look at the issues and PRs on this repo and others in https://github.com/all-contributors and see where you can help.

[2019-04-25 10:27] K-Sato1995 opened #257 "Not updating README.md"
**Describe the bug**
After running the `add` command, the bot updates the .all-contributorsrc fine. But it does not update README.md.
Feel like I'm missing something very simple.

[code]
![image](https://user-images.githubusercontent.com/32632542/56729319-f29efa00-678f-11e9-924c-d1af3d5ec65f.png)

**Expected behavior**
Updates README.md and create the table.

**Screenshots**
If applicable, add scr

[2019-04-26 00:59] K-Sato1995 commented on #143
Let me take a look at the JP one.

[2019-04-26 08:05] Berkmann18 commented on #257
FYI, this is a [bot](https://github.com/all-contributors/all-contributors-bot) issue not a specification/website one.
Have you checked that `.all-contributorsrc` file points to `README.md`?

[2019-04-26 08:12] K-Sato1995 commented on #257
Should I open this issue there instead??

My ` .all-contributorsrc` is looking something like the following.

[code]

[2019-04-26 09:28] Berkmann18 commented on #257
@K-Sato1995 Yes.

Your config file seems incomplete, have you checked the [configuration docs](https://allcontributors.org/docs/en/bot/configuration)?

[2019-04-26 14:49] co16353sidak commented on #187
@Berkmann18 @jakebolam Would love to work on this as my first issue here, please give me the go ahead and some tips to start with

[2019-04-26 15:13] Berkmann18 commented on #187
@co16353sidak Have a look at what allcontributors.org gives on https://www.brokenlinkcheck.com/broken-links.php and have a look at the files in this repo to fix what you can.
For the translations, you'll need to join https://crowdin.com/project/all-contributors.

[2019-04-27 00:16] K-Sato1995 commented on #257
Closing the issue here due to creating the same issue at the proper place.

[2019-04-27 00:16] #257 closed

[2019-05-03 14:07] MatheusRV commented on #85
Awesome reference https://github.com/ipfs/contributors-hex-grid#interplanetary-contributors-webpage

[2019-05-04 13:05] jakebolam commented on #227
@all-conributors please add @KirstieJane for ideas

[2019-05-04 13:06] jakebolam commented on #227
@all-contributors please add @KirstieJane for ideas

[2019-05-04 15:41] jakebolam commented on #143
### 🙏2 More go live!
[Russian](https://allcontributors.org/docs/ru/overview) and [Japanese](https://allcontributors.org/docs/ja/overview) are now live on the site 🚀

- Japanese (100%) +100% 🚀NOW LIVE AND ✅COMPLETE ✨**HUGE** thanks to @uraway for this
- Russian (58%) +45% 🚀NOW LIVE ON THE SITE ✨thanks@ivan-nginx for getting another language up
- Dutch (38%) + 28% so close, nearly at 50%! Keep it up

[2019-05-04 16:42] Berkmann18 opened #263 "Community chat space"
Hey all,

After looking into ways to improve the community environment (namely the chat channels) surrounding All Contributors (which is a time of writing on slack) and not having a funding source (hopefully not for long) which makes some things not doable (e.g.: snyk/netlify/AWS team plan, user groups on slack, support for a growing chat group).

I was wondering what services (see comments below)

[2019-05-04 16:42] Berkmann18 commented on #263
Slack

[2019-05-04 16:43] Berkmann18 commented on #263
Discord

[2019-05-04 16:43] Berkmann18 commented on #263
Gitter

[2019-05-04 18:00] jakebolam opened #264 "History page that shows the origin (and future?) of all contributors"
## Idea
A history page that shows the origins of all-contributors. From a spec, to a CLI tool, to a bot and website.

[2019-05-04 18:22] Berkmann18 commented on #264
That would definitely be a neat thing to have.

Perhaps a timeline (either vertical or horizontal depending on the content and available space) which goes from the beginning of the project (spec) to where it is at the moment.

[2019-05-06 14:40] #155 closed

[2019-05-06 18:00] sirpeas commented on #19
In my opinion, this issue is very area of improvement according to GDPR, especially when "controller of repository" is responsible for GDPR related requests to be done. I think that new commands to the bot/cli could partly solve that issue.

A person who wants to do some modification or even remove himself from contributors should be an initiator of those actions by new PR or contacting the owner

[2019-05-07 08:44] Berkmann18 commented on #19
@sirpeas Having a cli/bot command for that seems nice; however, I think it might be overkill (**except for the data removal request**) considering how unlikely and rare situations like those are so for the most part. the data subject should either submit a PR with the relevant changes or open an issue or contact one of the maintainers.

[2019-05-09 19:25] jvican commented on #85
I'd prefer a version that follows up on the minimal idea suggestion in the first comment, where the table only contains images and names. I currently do this manually in my project https://github.com/scalacenter/bloop but it's a little bit frustrating that the bot doesn't work if it doesn't recognise any contribution. I'd love if the bot could just append a contributor with no specific icon.

[2019-05-10 23:50] mrchief commented on #18
This sounds similar to https://github.com/all-contributors/all-contributors-cli/issues/117. Is this being worked on? I was planning to pick up on 117 but don't want to duplicate efforts.

[2019-05-13 01:14] mrchief commented on #85
A minimal version would be wonderful!

In the meantime, switching to a markdown table would be helpful in reducing the readme size.

[2019-05-13 10:17] Berkmann18 commented on #85
@jvican

You can use the `maintenance` category (i.e. `@all-... please add x for maintenance`) and that should work fine, then you'll just need to remove the icons.

[2019-05-13 10:18] jvican commented on #85
Do you mean I'll need to remove the icons manually from the PR created by the bot?

[2019-05-13 10:25] Berkmann18 commented on #85
@mrchief

True, and we may re-introduce it alongside the HTML option (cf. https://github.com/all-contributors/all-contributors-cli/issues/173).

@jvican

At the moment, yes as both the CLI and the bot requires at least one contribution type to be specified (at least until there's a minimal version implemented).

I see what you're trying to do and I'm wondering why you want to omit the contribution

[2019-05-13 10:27] jvican commented on #85
I want something that automates the addition of new people to the contributor list but I don't want to acknowledge (or think about) what kind of contributions they do. The contributors in my projects work on too many different things and the table goes rapidly out-of-date, so I just want their nice avatar in my README to credit them for *any* work instead of some *specific* domain work.

If someon

[2019-05-13 10:30] Berkmann18 commented on #85
That makes sense, in that case (for now) using the `maintenance` category would be the way to go (at least until someone gets a minimal version working and released).

[2019-05-13 10:31] Berkmann18 commented on #18
@mrchief Yes it is and we're both working on it (cf. my comments on your draft PR).

[2019-05-24 10:56] hrbyangnan opened #272 "@all-contributors please add <hrbyangnan> for <contributor>"
@all-contributors please add <hrbyangnan> for <contributor>

[2019-05-24 11:54] Berkmann18 commented on #272
What's the point in this issue?

[2019-05-24 13:39] krzkaczor opened #273 "Getting started guide is missing"
**Is your feature request related to a problem? Please describe.**
Recently I learned about all-contributors projects, I immediately looked into documentation and... got confused. There is a bot, CLI but how do I start?

**Describe the solution you'd like**
Docs should have `getting started` guide. Currently, it's only part of the landing page which is just harder to find. Also, `getting started`

[2019-05-24 13:41] krzkaczor opened #274 "Synonyms"
**Is your feature request related to a problem? Please describe.**
I tried adding new contributos for `idea` and `docs` but the proper terms where `ideas` and `doc`.

**Describe the solution you'd like**
Solution is to allow synonyms for contribution types. Probably bot, or CLI should always normalize to one form but user interface should be as simple as possible.

[2019-05-24 16:33] Berkmann18 commented on #274
The bot already supports synonyms and such. The CLI will point out when you're not using the correct terms; at the same time it has prompts which allow you to specify the username and contributions.

[2019-05-25 10:25] Berkmann18 commented on #273
@krzkaczor Did you went through the sections on the left on https://allcontributors.org/docs/en/overview and saw the links in the footer of each page you went through?

[2019-05-25 11:07] krzkaczor commented on #273
Yes... clearly marked `getting started` (step by step guide) section IS missing.

Anyway, it was just my subjective feeling that the best `getting started` guide was `How it Works` part of the landing page which is somehow weird. If you think otherwise feel free to close the issue 👍

[2019-05-25 11:11] krzkaczor commented on #274
My experience was that CLI was just ignoring them:

[code]

but now i realized that it was because CLI takes only one argument 🤦‍♂ my fault. Nvm.

I think if synonyms are supported this should be noted in https://allcontributors.org/docs/en/emoji-key

[2019-05-26 15:56] Berkmann18 commented on #274
@krzkaczor The CLI takes more than one argument unless you're using `check`, `generate` or the upcoming `fetch` one.

That's the general emoji-key which don't have the variations (what I meant when I wrote about the bot supporting synonyms) and having synonyms in the spec would make the whole thing unnecessarily complex (especially in areas where there's NO NLP/ML).

[2019-05-26 15:57] Berkmann18 commented on #273
Fair enough, feel free to submit a PR for that.

[2019-06-06 08:44] boyney123 opened #278 "Using all-contributor theme for another open source project?"
Hey 👋 ,

First thing, I love the `all-contributors` project. I use it most my open source work and I think it's great!

I'm currently a huge fan of docusaurus too and love the fact your homepage is built from it.

This might seem like a really random request (not sure if even belongs in an issue?), but I would like to use your theme for my next open source project.

I wanted to run it past you bef

[2019-06-06 09:33] Berkmann18 commented on #278
@jakebolam @tbenning What do you think?

I wouldn't mind (assuming credits are given where they are due).

[2019-06-07 06:52] aartiukh commented on #143
Hi. Can help with Russian and Ukrainian.

[2019-06-07 09:17] Berkmann18 commented on #143
@aartiukh Sure, navigate to [the Crowdin project](https://crowdin.com/project/all-contributors) and get started.

[2019-06-08 14:49] aartiukh commented on #143
@Berkmann18 I'm not sure that I have access right to create a new language. I mean Ukrainian. Could you help me?

[2019-06-10 04:47] tbenning commented on #278
As the designer that put this together, I'm cool with it. Go forth with my blessings ✌️

[2019-06-10 07:03] boyney123 commented on #278
Great thanks 🙇 🙏 👍

[2019-06-10 07:03] #278 closed

[2019-06-10 10:41] Berkmann18 commented on #143
@aartiukh I was under the impression that Ukranian was already set (which I've just noticed it wasn't) but it's now [enabled](https://crowdin.com/project/all-contributors/uk).

[2019-06-13 17:52] tbenning commented on #278
@boyney123 One small request! Can you remove the AC logo from your project, so as not to confuse the brands or project? Thanks!

![image](https://user-images.githubusercontent.com/7265547/59455561-4bbaff80-8dc9-11e9-9454-893309359597.png)

[2019-06-14 07:11] boyney123 commented on #278
Yeah will do, it was on my list of things to do, but Il get it done ASAP 👍

[2019-06-14 07:37] boyney123 commented on #278
All done @tbenning

Thanks again for the awesome theme and work 👍 , and letting me use it.

[2019-06-14 19:57] simskij commented on #143
Thanks for an awesome project! I'll give swedish translations a try. :)

[2019-06-17 12:06] aartiukh commented on #143
@Berkmann18 Wondering why `crowdin` asks to translate only one paragraph in `configuration.md`?https://crowdin.com/translate/all-contributors/132/en-uk

Could you kindly look into this file and check whether it is required to translate other paragraphs?

[2019-06-17 14:10] Berkmann18 commented on #143
@aartiukh Hmm, strange it shouldn't highlight the rest in red.
I've looked into the settings and can't seem to see what caused that (especially since other languages now have this issue).

Thanks for pointing that out.

@jakebolam Any ideas?

[2019-06-19 22:28] kentcdodds opened #280 "Browser Extension?"
Typing out the all-contributors comment for the bot is awesome! I think it'd be even cooler if I could install a browser extension that would add a little UI to the right panel of a github issue/PR that makes it easier to create that comment.

Maybe something like:

![image](https://user-images.githubusercontent.com/1500684/59805646-19b90a00-92af-11e9-9e9e-75b6ebec4e21.png)

Where you click on one

[2019-06-19 22:28] kentcdodds commented on #280
To be clear. Once you made your selection, all this would do would add the comment automatically for you.

[2019-06-20 10:56] Berkmann18 commented on #280
Seems good to me and could be (perhaps) a good addition to https://github.com/all-contributors/all-contributors/issues/243.

[2019-06-20 18:01] fennecdjay opened #281 "Add a skip-CI option"
First off, thanks for the amazing work! :champagne:

I've recently used the bot, and noticed every commit whould start a CI build,
which might not be desirable for a README/dotfile change.

There should be an option add add something like *[skip ci]* to the commit message.
IMHO, that should be the default.

The only alternative I could think of is disabling PR build on the CI, but that's annoying,

[2019-06-20 18:44] jakebolam commented on #281
Hey @fennecdjay thanks for the great request, totally sounds reasonable.

How do you feel about an option in the [config file](https://github.com/all-contributors/all-contributors/blob/master/.all-contributorsrc#L2) to supply a custom commit message?

Are you interested in putting up a PR for this. This config file is read into memory under the object `optionsConfig` and the [code that commits the

[2019-06-20 18:45] jakebolam commented on #281
FYI documentation for the current configuration file format: https://allcontributors.org/docs/en/bot/configuration

[2019-06-20 18:52] fennecdjay commented on #281
That's exactly what I tried to express :sweat_smile:

I don't know much about *js* but I'll give it a look. (I'm afraid it might take me a long time without further guidance)

Thanks for your detailed answer.

[2019-06-20 18:57] fennecdjay commented on #281
Is there anyway to run the bot locally?

[2019-06-20 19:38] jakebolam commented on #281
Awesome good luck.

Yes there's some basic documentation here:
https://github.com/all-contributors/all-contributors-bot/blob/master/contributing/run-bot-locally.md

It's built on probot, and follows a roughly similar local development flow
https://probot.github.io/docs/testing/

On Thu, 20 Jun 2019 at 11:57, Jérémie Astor <notifications@github.com>
wrote:

[2019-06-21 14:02] fennecdjay commented on #281
I've git something to show you :smile:
Is it ok if I submit a PR to [the bot repo](https://github.com/all-contributors/all-contributors-bot)?

[2019-06-22 00:38] jakebolam commented on #281
@fennecdjay for sure, submit the PR and I can review

[2019-06-22 00:38] jakebolam commented on #281
Exciting!

[2019-06-26 05:03] kylemh opened #282 "Add documention on "commit convention""
**Is your feature request related to a problem? Please describe.**
I just used the CLI to initialize all-contributors for my project, but came up on the commit convention question... and I have no idea what this is describing. I went to all the markdown documents, but none of them follow any sort of spec - they all differ quite a bit. I'd love to know more about what I'm dictating for my repositor

[2019-06-26 07:48] slv commented on #143
@jakebolam Italian needed?

[2019-06-27 08:29] Berkmann18 commented on #282
Have you checked this [documentation page (CLI configuration)](https://allcontributors.org/docs/en/cli/configuration)?

Mind expanding on that?

The [README.md](https://github.com/all-contributors/all-contributors/blob/master/README.md) of this repo does have a link to the official documentation:

Same goes for the [CLI's README.md](https://github.com/all-contributors/all-contributors-cli/blob/mas

[2019-06-27 15:05] kylemh commented on #282
I see it now! I guess the hashlinks weren't working from wherever I clicked and I was left scouring the big documents - or it could've been my browser... The links inside the CLI config documentation explained clearly.

[2019-06-27 15:05] #282 closed

[2019-06-27 15:09] Berkmann18 commented on #282
@kylemh Hmm, that's weird.
I'm glad that the docs explained that new field clearly 😁.

[2019-06-30 19:31] BayCem commented on #143
@jakebolam I can translate for Turkish.

[2019-07-09 18:08] nealmcb opened #284 "Minimize security exposures via bot, clarify CLI usage"
The current README doesn't clarify usage other than by pointing at  the @all-contributors bot ([Bot Overview · All Contributors](https://allcontributors.org/docs/en/bot/overview)).

That bot documentation doesn't note the manifold security implications of adding the bot as a committer to a user's repository. E.g. unless I'm misunderstanding something, by granting "Write access to code" to the bot,

[2019-07-10 13:19] Berkmann18 commented on #284
Thanks for your issue.
The bot is preferred as it automates the process more (although it lacks a few things that are implemented or nearly implemented on the CLI).

That's actually what the bot does.

Feel free to submit a PR tho.

I'm not sure that's possible as of yet as I've never seen permissions based on specific directories within a repo (I might be wrong).

[2019-07-10 14:34] nealmcb commented on #284
Thanks for the quick response.

I'm glad to hear that by design the bot doesn't merge the changes.

But unless I'm mistaken, the security issue remains that given the permissions that users are required to give it, the bot *could* insert malicious content anywhere in the repo, without any approval by others. And it could do that for all of the 2000+ repos it has access to, and I wonder if that it

[2019-07-10 15:24] Berkmann18 commented on #284
Given how the bot works, it would have to be a huge attack that someone would need to pass through and no one can directly push to master or without having a PR reviewed by a human.

True, I was thinking of getting `snyk` set up but it's costly and the whole team do that voluntarily and we don't get any funds so investing in such tools is not an option (for now).
I personally use `npm/yarn audit`

[2019-07-10 15:43] nealmcb commented on #284
Thanks again.
Indeed, I don't expect it would be easy to officially get a PR thru your team that makes the bot malicious.
I expect it would be easier to compromise the bot itself via accounts with permission to control it, the infrastructure it runs on, or other attack vectors, of which there are many, many of which have been compromised. The renovate link above covers mitigations for lots more ri

[2019-07-10 18:46] Berkmann18 commented on #284
That renovate doc looks good and I agree it would be nice to have one for all-contributors/all-contributors-bot.

You are more than welcome to submit more ideas or start a PR for that.

[2019-07-11 11:18] Berkmann18 commented on #255
@MrSyee Did you managed to get the latest update on the bot?

[2019-07-11 11:32] Berkmann18 commented on #15
Friendly ping @lwasser .

[2019-07-11 11:38] Berkmann18 commented on #34
Since this issue was opened the [emoji key](https://allcontributors.org/docs/en/emoji-key) had some additions (e.g: PM, maintainer etc) and I was wondering what do you guys want to add?
I like the idea of having the following categories: moderation (the 💬 is taken by `question`), coaching/mentoring (🏫).

[2019-07-11 11:39] #75 closed

[2019-07-11 13:28] lwasser commented on #15
hey @Berkmann18 a PR for this is beyond my current tech skillset at the moment!!  This is a great project however!

[2019-07-11 14:20] #272 closed

[2019-07-12 07:54] MrSyee commented on #255
Oh sorry. I check it now. I get the latest update and I use command "@all-contributors please add @MrSyee for code" in repository issue. But it makes PR into master branch that is the base branch. What commands can I use to make PR a different branch of my choosing?

[2019-07-12 07:56] MrSyee commented on #255
It is unintended PR :(
Sorry.

[2019-07-12 13:24] Berkmann18 commented on #255
@MrSyee Have you checked in a repo where the default branch **is not `master`**?

[2019-07-13 07:37] MrSyee commented on #255
The default branch is `master`. Does this command push only in the default branch? I want to push a other branch that I want, for example, If I use "all-contributors please add MrSyee for code to `feature/add-contributor`" it push to `feature/add-contributor` branch. Can I do it?

[2019-07-13 19:54] Berkmann18 commented on #255
You mean the branch it's merging against right?
The bot automatically creates separate branches for each changes.

[2019-07-15 07:05] MrSyee commented on #255
hmm, I want the branch that makes the bot is the target branch.
Current, as I know it, the bot makes `all-contributors/add-MrSyee` and merge to master.
But I want the bot makes `all-contributors/add-MrSyee` and merge to `feature/my-branch`, for example.

In fact, I think when someone contributes my project with PR of contributors, all-contributor bot update readme in that PR. Then I merge just one

[2019-07-15 08:42] Berkmann18 commented on #255
Current, as I know it, the bot makes all-contributors/add-MrSyee and merge to master.
But I want the bot makes all-contributors/add-MrSyee and merge to feature/my-branch, for example.

Ah okay, that makes sense.

Would you mind opening a PR on https://github.com/all-contributors/all-contributors-bot?

[2019-07-16 02:20] taqtiqa-mark opened #289 "HTML generated respects MD linter rule: MD013 Line length"
**Is your feature request related to a problem? Please describe.**
The HTML inserted into Readme.md breaks Md linter.

**Describe the solution you'd like**
Inserted HTML code have width < 80 chars.

**Describe alternatives you've considered**
Inserted code warns not to altered generated code.

**Additional context**
This is the only thing breaking the linting check in my Circle-CI orb
[code]

[2019-07-16 07:33] mendaomn commented on #143
@slv @jakebolam would love to help out with the Italian translation!

[2019-07-16 13:11] Berkmann18 commented on #143
Since Jake seems really busy and as a fellow member of the team, I think I'll respond to what was initially for him only (not sure why).

@slv @mendaomn Yes, Italian would be nice; I've just enabled Italian.
@BayCem Yes, of course; I've enabled Turkish

Cf. https://crowdin.com/project/all-contributors

Also

**Note (for any of the translators here): if you contributed to the Crowdin project but wa

[2019-07-16 13:19] Berkmann18 commented on #289
Hi @taqtiqa-mark, a [PR on the CLI repo](https://github.com/all-contributors/all-contributors-cli/pull/194) just got merged and it addresses this issue.
Could you please try `all-contributors-cli@^6.8.0` and see if it resolves your issue?

[2019-07-16 23:44] MrSyee commented on #255
I'll try, but it might not work. Thanks for your response.

[2019-07-17 03:06] #255 closed

[2019-07-17 08:42] Berkmann18 commented on #255
Okay 😀.

[2019-07-17 14:22] naturecodevoid opened #290 "Custom types not working"
**Describe the bug**
I copied the custom types code snippet from [here](https://allcontributors.org/docs/en/bot/configuration) and I can't get it to work. When I ask it to add 'custom', it says that is not valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://allcontributors.org/docs/en/bot/configuration and copy the custom types snippet at the bottom into your .allcontributor

[2019-07-18 11:31] Berkmann18 commented on #157
@gr2m @dance2die Do you guys have an idea as to why this is happening and how it can be fixed?

[2019-07-18 11:38] Berkmann18 commented on #187
Update (as of typing this):
![image](https://user-images.githubusercontent.com/8260834/61454445-d955b600-a958-11e9-867f-358c05a23872.png)

@co16353sidak Have you had a chance to look at any of the issues, broken links etc?

[2019-07-18 15:07] dance2die commented on #157
As I check the differences, it seems like `<0/>` isn't being replaced as `<br />` in the rendered page.

![TeamViewer_LuYTP7D58f](https://user-images.githubusercontent.com/8465237/61468839-2e3eff80-a94c-11e9-83f4-d17e30849403.png)

And also there are two `emoji-key.md` files that have the same translated content.

What would be the difference between those two markdown files with same contnet?
_On

[2019-07-18 15:10] dance2die commented on #157
As I checked the other languages, `<0 />` isn't interpolated as `<br />` either...

[2019-07-18 15:48] Berkmann18 commented on #157
Hmm, that's probably why it happens. I wonder if someone at Docusaurus can have a look at that.

One under "website" another under "head -> docs" folder

In my understanding, it's the same except that one (the `head` one) contains changes from PRs whereas the other one (`master`) is what is on the `master` branch.

Yeah, all the languages I checked at the time had this issue.

[2019-07-22 08:23] aartiukh commented on #143
@Berkmann18 any update on https://github.com/all-contributors/all-contributors/issues/143#issuecomment-502655216 ?

[2019-07-22 08:25] simskij commented on #143
@all-contributors please add simskij for translating

[2019-07-22 11:44] Berkmann18 commented on #143
@aartiukh Unfortunately not at the moment. But I'll get hold of who may know.

[2019-07-22 11:47] Berkmann18 commented on #143
@all-contributors Please add @BayCem for translating.

[2019-07-22 11:48] Berkmann18 commented on #143
@all-contributors Please add @rachelcarmena for translating.

[2019-07-23 06:23] #289 closed

[2019-07-25 16:33] fennecdjay commented on #281
Glad we're done now :smile:

[2019-07-25 16:33] #281 closed

[2019-07-27 21:38] dance2die opened #298 "The bot @all-contributors require a capitalized README.md file name"
**Describe the bug**

The bot @all-contributors require a capitalized README.md file name

When you go to the following issue, https://github.com/dance2die/sung/issues/1, the bot reports that

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/dance2die/sung/issues
2. Add a message `@all-contributors please add @dance2die for code and content`
3. Wait for the error messa

[2019-07-28 22:28] Berkmann18 commented on #298
Seems like it's due to the default config using `README.md`.
The web-app integration for the bot would help with scenarios like this.

[2019-07-30 17:38] Hardik500 commented on #187
Is the issue fixed?
If not can I work on it?

[2019-07-30 19:29] Berkmann18 commented on #187
@Hardik500

The issue is not fully fixed. IIRC ~6 of the above 37 URLs should have been fixed by now.

Of course.

[2019-08-08 10:36] Criticalstone commented on #143
Ill help with some swedish translation :)

[2019-08-08 17:56] MatheusRV commented on #143
Brazilian Portuguese updated again to 100%.

[2019-08-09 18:49] LucioMSP commented on #143
Hi, I can help with Spanish if you need.

[2019-08-12 23:41] Berkmann18 commented on #143
@LucioMSP Any contributions are welcome :).

[2019-08-19 07:46] loicrey commented on #143
French translation is word by word, without sense (and Google translate probably)

[2019-08-19 10:33] Berkmann18 commented on #143
@loicrey Which bits?

[2019-08-21 07:39] loicrey commented on #143
@Berkmann18 this one for example : https://allcontributors.org/docs/fr/overview
but it seems that the entire french translation have this issue

[2019-08-21 11:25] Berkmann18 commented on #143
@loicrey That page seems indeed off. As for the Google translate that's not true (at least regarding the sections I translated).
Also, we are more than happy to have more people contributing so feel free in helping.

[2019-09-04 09:26] adswa opened #301 "Question: template for more than contributions"
If I read the [docs on configuration](https://allcontributors.org/docs/en/bot/configuration) correctly, it is possible to define custom contribution types. Is it also possible to add fields other than "contributions", such as affiliation and orcid?

The background to this is that it would make it possible to potentially automate the creation of a ``.zenodo.json`` file from the information the bot

[2019-09-04 15:43] Berkmann18 commented on #301
At the moment, it's not possible to do that.
@all-contributors/core What do you all think about this?

[2019-09-04 17:36] gr2m commented on #301
I think it's out of scope, but maybe you can find a workaround for your case?

[2019-09-04 18:00] adswa commented on #301
Thanks a lot for the quick response to this! Please feel free to close the issue.

[2019-09-04 18:53] #301 closed

[2019-09-09 22:19] BaseMax commented on #143
Hello @jakebolam,

We can translate for Persian.

Best,
Max Base

[2019-09-11 16:18] maphew commented on #85
I like the look of the above [bootstrap example](https://github.com/all-contributors/all-contributors/issues/85#issuecomment-461843599) best. It has room for contribution type emojis for those who track that. Also +1 for markdown table as option instead of html.

[2019-10-03 06:00] marekrozmus opened #304 "Badge link does not work"
The badge link is missing '-' at the end. Currently it is '#contributors' and should be '#contributors-' because of the emoji used in contributors header.

[2019-10-03 23:23] Berkmann18 commented on #304
@marekrozmus Where?

If it's in one of your repos, make sure to update `all-contributors-cli` and run `all-contributors generate` (unless you're using the bot).

[2019-10-06 19:55] keremh commented on #143
Hi @jakebolam,

I want to support translation for Turkish language.

[2019-10-06 20:43] Berkmann18 commented on #143
@keremh Have you signed into Crowdin?

[2019-10-07 06:33] marekrozmus commented on #304
I'm using the bot.

[2019-10-07 08:32] keremh commented on #143
@Berkmann18 yes, i will start translate.

[2019-10-07 09:38] Berkmann18 commented on #304
@marekrozmus Try to get the bot to add an empty contribution and it should update the table.

[2019-10-08 07:58] marekrozmus commented on #304
Maybe I'll try to provide more details. The problem is that generated link for contributors badge is not working.
You can check this [example repository](https://github.com/marekrozmus/all-contributors-test) and try to click the "all contributors" badge.

Bot creates following link:
`https://github.com/marekrozmus/all-contributors-test#contributors`
and it should be:
`https://github.com/marekrozmu

[2019-10-08 15:25] mendaomn commented on #143
Hi, I've been working on the Italian translation on crowdin, and I noticed there are several strings that shouldn't be translated. Is there a way I can help fix this problem? :)

[2019-10-08 17:21] Berkmann18 commented on #143
@mendaomn There are indeed strings that shouldn't be translated but if you have words that appear to be ones that should be translated and are in red then let me know.

[2019-10-08 18:40] mendaomn commented on #143
Oh I'm sorry, I explained myself poorly!

What I meant is, I sometimes find strings that are not supposed to be translated (like **gatewayapps/kamino** in the following image)

![image](https://user-images.githubusercontent.com/11457067/66422923-e7bce680-ea0a-11e9-8c92-3cb143bc09d8.png)

On the other hands, there are lots of strings that are marked in red but that should be translated in my opinio

[2019-10-09 11:43] Berkmann18 commented on #143
@mendaomn Hmm, that's strange (not the first time it happened afaik).
Not sure why that's occurring. @jakebolam Any idea?

[2019-10-10 05:14] filipe-gomes commented on #240
Are you guys still needing help with this?

[2019-10-10 19:51] simskij opened #307 "Contribution type for correcting typos"
First and foremost, thank you for all the amazing work. This project has really helped in improving the visibility of contributions to open source projects. 🙏

**Is your feature request related to a problem? Please describe.**
It's quite common, at least for my projects, to get drive-by contributions fixing just a random typo in either one of the application strings or in the documentation. Curren

[2019-10-11 11:29] Berkmann18 commented on #307
You raise some good points.
The thing with the AC specification is that it's there to recognise any contributions regardless of its impact while attributing it the correct contribution type.

It's true that there might be some contributions that can't fit well in any of the categories.
I've also seen people aiming for some representations that go deeper into what each contributor did (that could b

[2019-10-16 19:24] Andre601 opened #309 "Allow customization of the shields.io badge"
**Is your feature request related to a problem? Please describe.**

-

**Describe the solution you'd like**
Add an option to the .all-contributorsrc file, to use a different shields.io link/style (or a different site altogether)

**Describe alternatives you've considered**

-

**Additional context**
People might use a different kind of badge style (e.g. the "for the badge" style) which would confl

[2019-10-16 19:30] Andre601 opened #310 "Make the bot resolve a conflic with multiple PRs"
**Is your feature request related to a problem? Please describe.**
When you add multiple contributors through multiple PRs does the bot create one for each contributor.
This can and will cause conflicts, especially when a .all-contributorsrc doesn't exist yet and would be added through the PRs.

**Describe the solution you'd like**
When there are multiple PRs should the bot auto-update its commits

[2019-10-17 09:10] Andre601 opened #311 "Add option to directly add all contributors with reason "code""
[contributors]: https://github.com/all-contributors/all-contributors/graphs/contributors

**Is your feature request related to a problem? Please describe.**
*No issue*

**Describe the solution you'd like**
It would be cool to have an option to let the all-contributors bot add all people that contributed to the repository with PRs (Have the "contributors" label next to their name in issues/PRs and

[2019-10-18 12:06] Belco90 opened #313 "Question: badge is not updated automatically"
I don't think this is exactly a bug (as I see this working fine in other projects), but I can't get the "all contributors" badge automatically updated properly in my repo, so I guess something is wrong in my config but I can't find what is it.

[This is my repo](https://github.com/Belco90/eslint-plugin-testing-library). I set it up first with the CLI and then switched to the bot, I don't know if t

[2019-10-18 12:07] Belco90 commented on #313
Didn't want to add the "bug" label, sorry about that 😥

[2019-10-18 12:16] #313 closed

[2019-10-18 12:17] Belco90 opened #314 "Question: badge is not updated automatically"
I don't think this is exactly a bug (as I see this working fine in other projects), but I can't get the "all contributors" badge automatically updated properly in my repo, so I guess something is wrong in my config but I can't find what is it.

[This is my repo](https://github.com/Belco90/eslint-plugin-testing-library). I set it up first with the CLI and then switched to the bot, I don't know if t

[2019-10-18 14:10] Andre601 commented on #309
A suggestion I could give is to have a setting in the .all-contributorsrc file that looks something like this:
[code]
`{contributors}` would be a placeholder that the bot replaces with the current number of contributors, when updating the readme.

[2019-10-18 14:15] Andre601 commented on #309
I've noticed that there is indeed a setting, but it wasn't easy to discover.
This issue can be savely ignored.

[2019-10-18 14:15] #309 closed

[2019-10-19 23:41] Berkmann18 commented on #314
When you set the configuration (read the `.all-contributorsrc` file), did you replied yes to the badge update question?

[2019-10-19 23:49] Berkmann18 commented on #311
This would be cool indeed, there's a complementary feature (still a WIP) on the CLI which would enable it (and by extension the bot as well which some additional changes) to automatically add contributors.
Feel free to contribute/help if you want.

[2019-10-19 23:52] Berkmann18 commented on #310
I believe with additions from https://github.com/all-contributors/all-contributors-bot/pull/127. There's an existing issue (https://github.com/all-contributors/all-contributors-bot/issues/146) around this as well (not sure if the other folks made any progress).

[2019-10-21 07:51] Belco90 commented on #314
Sure! That added the badge automatically for me actually.

[2019-10-21 12:40] Berkmann18 commented on #314
Did it got updated since?

[2019-10-21 13:25] Belco90 commented on #314
Not really: it started at 0 and I updated manually at some point after adding some contributors and not getting the budge automatically updated.

[2019-10-30 11:16] phacks opened #320 "New Accessibility (a11y) emoji key"
**Is your feature request related to a problem? Please describe.**

On https://github.com/theodo/falco, we are seeing a few contributors reporting a11y issues and/or pushing a11y-related pull requests. I feel like those contributions should be properly rewarded by a specific emoji key.

**Describe the solution you'd like**

A new emoji key, called `a11y` or `accessibility`:

Emoji/Type | Represent

[2019-10-30 18:25] jonastg commented on #314
Also included with CLI, if I remove the comments `` and `` it doesn't update the badge number, but if I keep the comment, the badge appears broken and it show the text

[2019-10-31 23:33] Berkmann18 commented on #314
@Belco90 @jonastg Does that happen only with the latest CLI version?

[2019-10-31 23:38] Berkmann18 commented on #320
That's a great idea.
The :wheelchair: seems to be the best for this as far as I can tell.

@all-contributors/core Any thoughts/objections?

[2019-11-01 00:43] gr2m commented on #320
I love the idea.

[2019-11-01 20:57] AnandChowdhary opened #323 "Table markup doubles user name with alt text"
**Describe the bug**
The HTML markup of a typical table cell generated by All Contributors looks like this:

[code]

As you'll notice, the `<img>` has alternate text with the user's name, which is then repeated below in the `<sub><b>` tag.

The problem is that a screen reader would read this is "Anand Chowdhary Anand Chowdhary", when it should actually read it as "Anand Chowdhary". The solution is

[2019-11-01 20:57] #323 closed

[2019-11-01 20:58] AnandChowdhary commented on #323
I think I should open this issue in the [all-contributors-bot](https://github.com/all-contributors/all-contributors-bot) project instead.

[2019-11-02 11:06] Berkmann18 commented on #323
So you think images should be ignored by screen readers?

Also, this is done by the CLI, not the bot (even if you use the bot).

[2019-11-02 17:21] AnandChowdhary commented on #323
In this case, yes, since the images are purely decorative and do not provide any additional information. The information they do provide is the name of the user, which is repeated right below it. Please read the [decorative images section of the WCAG](https://www.w3.org/WAI/tutorials/images/decorative/):

[code]

I've opened the updated issue here: https://github.com/all-contributors/all-contribut

[2019-11-03 11:08] jonastg commented on #314
@Berkmann18 First time using all-contributors, installed `"all-contributors-cli": "^6.9.3"`

[2019-11-04 10:59] Berkmann18 commented on #323
Makes sense and I agree.
Feel free to open a PR on the CLI repo and I (or whoever can) will look into it when I can.

[2019-11-06 08:52] phacks commented on #320
Cool! Thanks for the feedbacks. Should I go forward and open a PR?

[2019-11-06 16:24] gr2m commented on #320
Yes, thank you

[2019-11-08 08:53] phacks commented on #320
PRs are ready!

- https://github.com/all-contributors/all-contributors-cli/pull/223
- https://github.com/all-contributors/all-contributors/pull/326

Please let me know if I forgot something :)

[2019-11-08 13:26] marekrozmus opened #327 "Hyphen in user name problem"
@all-contributors please add aaa-bbb for bug, ideas

Will add user `aaa` not a `aaa-bbb` user.

[2019-11-10 18:49] Berkmann18 commented on #327
Hmm! Thanks for reporting this bug.
Would you mind opening a PR to fix this?

[2019-11-12 14:11] marekrozmus commented on #327
@Berkmann18:
Firat of all sorry for reporting bug in incorrect repository - I've just found that there is separate repository for bot and cli 😢

Now about reported issue: I've checked again with your bot tests and I'm not sure if this is bug at all.
When I used
`@all-contributors please add @aaa-bbb for bug, ideas` then it worked correctly - it added user aaa-bbb (with hyphen).
So my question woul

[2019-11-12 14:32] Berkmann18 commented on #327
No worries.

When I used
@all-contributors please add @aaa-bbb for bug, ideas then it worked correctly - it added user aaa-bbb (with hyphen).
So my question would be rather why prefixing username with @ works?

That's because the bot requires the use of `@` in the request, it previously accepted comments such as "Please add someUser for ..." but the code got changed for it to only accept `@someUse

[2019-11-14 13:49] MichaelDeBoey opened #332 "Join GitHub sponsors as organization"
Join with the full organization (now in beta).

https://github.com/sponsors

[2019-11-14 13:50] #332 closed

[2019-11-14 13:51] MichaelDeBoey opened #333 "Join GitHub sponsors as organization"
Join with the full organization (now in beta).

https://github.com/sponsors

[2019-11-14 14:07] Berkmann18 commented on #333
That would be a good idea. I'm not sure how to go about it?
@all-contributors/core Thoughts on that?

[2019-11-17 04:37] gr2m commented on #333
What would you use the funds for?

[2019-11-17 12:55] MichaelDeBoey commented on #333
That's up to you guys off course :-)

[2019-11-17 16:52] gr2m commented on #333
That's what would need be figured out first

[2019-11-18 00:35] Berkmann18 commented on #333
@gr2m We could use for what I mentioned back when we had a discussion about it on the slack channel.

[2019-11-20 15:09] smoia opened #334 "Adding "data" emoji for collected data"
**Is your feature request related to a problem? Please describe.**
I discovered all-contributors thanks to [tedana](https://github.com/ME-ICA/tedana), a package for neuroimaging data analysis. I'm trying to implement it for [phys2bids](https://github.com/smoia/phys2bids), another package for neuroimaging related data handling.
I hope this is not too similar to #63 , but the thing is that "content"

[2019-11-22 04:14] samajammin commented on #314
[Our project](https://github.com/ethereum/ethereum-org-website) is also having this issue. I followed [your docs to set it up](https://allcontributors.org/docs/en/bot/installation) & have used the bot from the start. I've been manually updating the badge occasionally but am planning to remove it for now.

Any idea what might be causing this? I tried [adding the badgeTemplate option](https://github

[2019-11-22 04:16] samajammin commented on #311
Came here to suggest this feature! Would be great if there was an ability to backfill all project contributors without having to do it manually one by one. Awesome project overall!

[2019-11-22 04:21] samajammin commented on #310
This would be great! I hit this same issue after opening PRs for ~70 contributors 😅. I think a bulk add feature (https://github.com/all-contributors/all-contributors-bot/issues/100 & https://github.com/all-contributors/all-contributors-bot/issues/146) or ability to backfill contributors (https://github.com/all-contributors/all-contributors/issues/311) would also alleviate this issue.

[2019-11-22 21:46] Berkmann18 commented on #334
I see where you're coming from.
What description for `content` would you rather see? (PR welcome).

[2019-11-22 21:50] Berkmann18 commented on #310
@samajammin AFAIK, @jakebolam hasn't finished working on the bulk add functionality.
Normally you should be able to use the CLI's `fetch` experimental feature (I haven't had the time to fix issues blocking the progress on that side) and that should help.

[2019-11-22 21:53] Berkmann18 commented on #311
@samajammin That's what https://github.com/all-contributors/all-contributors-cli/pull/196 is aiming to solve but as I've mentioned across the board, I didn't manage to fix some blocking issues (and I haven't had the time to look into it lately).
If you want to help, then please do.

[2019-11-22 21:55] Berkmann18 commented on #314
@samajammin Hmm, I'm really not sure of what is causing this.
Perhaps the others from @all-contributors/core may know more about that.

[2019-11-22 22:39] Andre601 commented on #314
I can confirm that this *bug* exist.
I also had the bot make a PR which had the .all-contributorsrc file created and at a later point added another user, but the bot didn't update the badge, so I had to manually update it.
What solutions/ideas do you guys have?

I saw that you need `` and `` around the badge?
Can I set this on the same line because I want to have multiple badges on the same line.

[2019-11-22 22:41] smoia commented on #334
It's not necessary to change the description of `content` that there is now, I think it's useful to have an entry like that for websites or app development and maintenance project. What I'm suggesting is a different entry for data handling projects (visualisation, analysis, preprocessing, ...) that need to have data for testing, or projects with data collection or classification (creation/update o

[2019-11-22 22:47] Andre601 commented on #311
I close this issue as it already exists as PR (See above comment) and to move to the actual right repository for this stuff...

[2019-11-22 22:47] #311 closed

[2019-11-22 22:48] Andre601 commented on #310
I will move this to https://github.com/all-contributors/all-contributors-bot as it is more about the bot than this repository in general.
If it actually is, feel free to re-open it (or let me know so that I can re-open it).

[2019-11-22 22:48] #310 closed

[2019-11-23 03:02] Berkmann18 commented on #334
:symbols: seems representative of that.
And I see value in this new type.

@all-contributors/core What do y'all think?

[2019-11-23 03:06] Berkmann18 commented on #314
As far as I can tell, the bot doesn't use an up-to-date version of the CLI which I've noticed when the Markdown placeholder comments in the README differ when the CLI generated the table from when it's the bot which does it.

The issue might lie on the CLI but based on the above comments it seems to be more on the bot' side.

[2019-11-24 21:37] smoia commented on #334
@Berkmann18 I can work on a PR in the upcoming days!

[2019-11-25 21:46] Berkmann18 commented on #334
@smoia That would be amazing (don't forget there are 3 repos to update for changes like this ;)).

[2019-11-25 22:30] smoia commented on #334
@Berkmann18 what do you mean? I was checking your PRs for Project Manager, and I saw that you changed 3 files. Are there more repositories instead?

[2019-11-25 22:33] smoia commented on #334
@Berkmann18 Ok, I just noticed it. I'm going to use your project manager PRs (e.g. #141 ) as a model .

[2019-11-27 07:08] adswa commented on #320
Hey everyone, thanks for adding this wonderful contribution type! I'm really happy to see this!

I've been trying to use this, but for some reason, I fail ([this conversation](https://github.com/datalad-handbook/book/pull/253)):
![image](https://user-images.githubusercontent.com/29738718/69701296-e9428b00-10ec-11ea-832f-f88bbff2aaaa.png)

What am I doing wrong? Thanks a lot in advance!

[2019-11-27 07:13] sinchang commented on #320
@adswa I guess that feature still not released.

[2019-11-27 07:17] adswa commented on #320
Gotcha - thanks @sinchang!

[2019-11-27 16:16] Berkmann18 commented on #320
It was merged in the bot repo (cf. https://github.com/all-contributors/all-contributors-bot/pull/259) so normally it should be available.

[2019-11-27 18:04] jakebolam commented on #320
![Screen Shot 2019-11-27 at 1 03 12 PM](https://user-images.githubusercontent.com/3534236/69748416-4a328900-1116-11ea-92fb-b898de692a1f.png)

Ahh sorry, the pipeline was [stopped on verify](https://circleci.com/workflow-run/8c5d5684-53d1-4a95-bb2e-27fe6a04de7c).

It's on the sandbox https://github.com/all-contributors-sandbox

[2019-11-27 18:06] jakebolam commented on #320
Ah the sandbox actually has an issue:
https://sentry.io/organizations/all-contributors/issues/957977140/?project=1366866&query=is%3Aunresolved

[2019-11-27 18:11] jakebolam commented on #320
Fix is up: https://github.com/all-contributors/all-contributors-bot/pull/263

[2019-11-28 11:57] junagao commented on #143
Hello, is it ok to improve the Portuguese translation? I'd like to contribute.

[2019-11-28 12:17] Berkmann18 commented on #143
@junagao Of course!

[2019-11-30 03:45] jakebolam commented on #320
Fix has been released.

[2019-12-02 16:52] smoia commented on #334
@Berkmann18 sorry to bother you, but I'm trying to add the emojis in the files. I'm typing it in, but that's not enough? How do you add the emoji inside the md file other than :code: ?

[2019-12-02 17:05] Berkmann18 commented on #334
@smoia You may need to copy-paste it from GH or any place that have the emoji icon.

[2019-12-02 17:24] smoia commented on #334
I did - still getting the expression itself rather than the emoji.
Might be editor related. Which one did you use?

[2019-12-02 17:34] smoia commented on #334
@Berkmann18 managed! I had to manually enter the unicode equivalent.
First PR ready!

[2019-12-02 17:40] smoia commented on #334
Second PR ready - should I wait for a new tag/release of all-contributors before modifying the all-contributors-bot?

[2019-12-03 08:39] Berkmann18 commented on #334
I'm glad to see that you managed to do it.
Since the bot relies on the CLI, it would be **better** to make sure the bot uses the latest version of the CLI.
That being said, you could always apply the relevant changes, submit a *draft* PR and once the new CLI release is out you could add the version update in your bot PR.

That way, you already have the core of the bot PR ready to reviewed (even th

[2019-12-03 09:19] smoia commented on #334
Oh ok, I see.
Should I re-open the PR as draft?
Also for the bot, don't I have to wait for a new release of all-contributors (I can open a draft in the meantime).

[2019-12-03 10:04] Berkmann18 commented on #334
@smoia For the CLI/spec repo, no need.

You could wait, however, I think it would be better to already have a (draft) PR submitted so you just need to commit the version change. Alternatively, you can set it up locally and push the PR once the release comes in.

[2019-12-03 13:56] Zenigata opened #337 "Add support for AsciiDoc."
A readme.md file is currently needed. I want to include any readme.adoc file and support AsciiDoc generation.

[2019-12-07 23:04] MichaelDeBoey opened #338 "Merging bot PR right after normal PR can break semantic-release"
Right after merging MichaelDeBoey/gatsby-remark-embedder#43, I added @cms to the contributors list.
When merging MichaelDeBoey/gatsby-remark-embedder#45 too, [this skipped releasing (using `semantic-release`)](https://travis-ci.org/MichaelDeBoey/gatsby-remark-embedder/jobs/622120699#L542) on the first merge commit (which is expected).
The only problem is that the second merge commit didn't trigger

[2019-12-08 23:36] Berkmann18 commented on #338
So if I understood properly, the all-contributors commits were mixed with the CI-relevant ones (read the ones that _should_ trigger the CI)?

[2019-12-09 00:04] MichaelDeBoey commented on #338
No they aren't.

I first had PR MichaelDeBoey/gatsby-remark-embedder#43, which I squashed +merged.
This triggered CI (which runs `semantic-release`), like was expected.

Right after that, I run the all-contributors bot, which created MichaelDeBoey/gatsby-remark-embedder#45.
Since CI is now skipped (I love that!), I could immediately squash + merge it too.

Merging MichaelDeBoey/gatsby-remark-embed

[2019-12-09 08:58] Berkmann18 commented on #338
One way would be to turn off the `skipCi` configuration but that might be tricky when using the bot and not a nice solution.
Not sure, how that could be fixed on the bot tho.

[2019-12-09 09:51] MichaelDeBoey commented on #338
Not sure either 😕

[2019-12-10 03:39] jakebolam commented on #304
This has since been updated. Thank you for reporting.

https://github.com/all-contributors/all-contributors-cli/blob/master/src/init/init-content.js#L6

[2019-12-10 03:39] #304 closed

[2019-12-10 03:41] jakebolam commented on #290
It is not currently working, you are correct.

PRs welcome to support this!

[2019-12-10 03:42] jakebolam commented on #314
Hey yall.

We recently rolled out a fix for this, we've documented the steps need (i.e. need the tags now) here: https://allcontributors.org/docs/en/bot/faq#all-contributors-badge-count-does-not-update

[2019-12-10 03:43] #314 closed

[2019-12-10 09:06] Andre601 commented on #314
Can this also be made like this, when you set the style to just the link?
[code]

I want to have the links for badges and sites in one place to easier maintain it.

[2019-12-10 13:21] jakebolam commented on #314
You should be able to do this, using the badge template configuration field.

https://allcontributors.org/docs/en/bot/configuration

On Tue., Dec. 10, 2019, 4:06 a.m. Andre_601, <notifications@github.com>
wrote:

[2019-12-14 13:33] ccamara opened #339 "Crediting people/institutions not in github"
**Is your feature request related to a problem? Please describe.**
I would like to credit an organisation for providing some open data in which my project is based, but that organisation does not have a github user (although in my particular case, it does have a github group -but that may not be as common).

I attempted to do so here: https://github.com/ccamara/osm_imports_preparations/issues/4, b

[2019-12-16 15:15] maarten-wachters commented on #143
I have edited, formatted and added some new Dutch translations. I will update more when I have the time.

[2019-12-19 16:27] kytwb commented on #85
We wanted to do something like (this is from Open Collective, based on the GitHub contributions graph only):

![All Contributors](https://opencollective.com/getferdi/contributors.svg?width=890&button=false)

What we managed to do for now:

<img width="929" alt="Screen Shot 2019-12-19 at 4 32 31 PM" src="https://user-images.githubusercontent.com/412895/71186290-427d8480-227d-11ea-95f1-31e453b235f5.

[2019-12-25 02:17] Snickdx opened #342 "Navigated html page not showed in the preview url"
**Describe the bug**
The current page is not shown in the preview browser url. Works if the browser is popped out in a separate window though.

**To Reproduce**
1. Create any vanilla html multi page project.
2. Click a link from one page to another.

**Expected behavior**
When navigated to another page, the file should show in the url.

**Screenshots**
![ezgif-6-bed5f4fd51b5](https://user-images.g

[2019-12-25 12:13] Berkmann18 commented on #342
Either you posted the issue in the wrong place or posted the wrong thing.
Anyway, this is clearly not related to AC.

[2019-12-25 12:13] #342 closed

[2020-01-03 23:22] smoia commented on #334
@Berkmann18 last PR ready, tested and corrected. After that, I'd say we close this issue!

[2020-01-04 00:31] Berkmann18 commented on #334
@smoia It won't pick it up when you tell it to add a _data_ contribution (unless you mean the test bot you set up with your changes) until the code pushed.
However, it should be fine for the table generation bit as the bot uses the CLI for this.

[2020-01-04 17:13] smoia commented on #334
I see - yes, obviously the code has to be merged first. I'll wait and see!

[2020-01-11 22:36] github-sentatr opened #357 "cognito-backup-restore"
We are try to backup the cognito domain in AWS.

cbr backup --pool ***** -p default -r us-east-1 --dir ./cognito_emg_backup

**Expected behavior**
It should take the backup

Getting error message as like,

connect ETIMEDOUT ***********

[2020-01-12 01:49] Berkmann18 commented on #357
Wrong repo.

[2020-01-12 01:49] #357 closed

[2020-01-17 10:18] amans199 commented on #143
hi .. i can help translating to Arabic.

[2020-01-17 20:12] Berkmann18 commented on #143
@amans199 Sure.

[2020-01-25 21:36] tr7zw opened #360 "CLI Maven Plugin implementation"
Hey there,
just recently found out about all-contributors and really liked the idea, but personally, the bot would cause too much webhook/commit history spam and as a Java developer the node-based CLI is also rather unhelpful. So I wrote a Java Maven Plugin that simulates the updating of the README.md using the .all-contributorsrc and that can be called via Maven or gets called during each build.

[2020-02-01 03:47] nebrelbug opened #361 "New Badge Pattern makes inline badges impossible"
**Describe the bug**
With the new badge pattern:
[code]
Due to the way comments are rendered in Markdown, you cannot get a badge to show up inline with other badges.

**To Reproduce**
Steps to reproduce the behavior:
1. Ask all-contributors-bot to add a contributor
2. Look at the badge
3. Try to move the badge so it appears inline with your other badges and keeps comments

**Expected behavior**
Th

[2020-02-07 10:15] kanyIO commented on #143
How about swahili

[2020-02-10 17:47] KirstieJane commented on #320
I think this issue can close - it looks like everything's fixed?

[2020-02-10 18:12] KirstieJane opened #362 "Bot has "trouble processing the request""
**Describe the bug**

All contributors bot has trouble processing the request to add a new contributor.

See, for example: https://github.com/alan-turing-institute/the-turing-way/pull/822#issuecomment-584247891

**To Reproduce**

I typed the following in a pull request comment.

The bot replied saying:

We've had this problem for a few months unfortunately 😢

**Expected behavior**
I was expecting

[2020-02-12 16:02] Berkmann18 commented on #362
That's surely because it expects something like "@allcontributors Please add @ACFaul for event".
Basically it expects a `Please add at_username for type` message.

[2020-02-12 18:42] Berkmann18 commented on #143
@kanyIO Sure, have you signed up on Crowdin?

[2020-02-12 19:23] KirstieJane commented on #362
Hi @Berkmann18 - I tried that and got the same error: https://github.com/alan-turing-institute/the-turing-way/pull/822#issuecomment-585374030

[2020-02-12 20:57] kanyIO commented on #143
@Berkmann18 Yes, I'm signed up.

[2020-02-13 10:44] yedhrab opened #363 "👨‍💻 is more relevant than 💻 for code contribution"
**Is your feature request related to a problem? Please describe.**
👨‍💻 emoji is more relevant than 💻 emoji for code contribution

**Describe the solution you'd like**
💻 -> 👨‍💻 👩‍💻 (Please convert pc emoji to code emoji)

**Describe alternatives you've considered**
- For famale: 👩‍💻
- For male: 👨‍💻

[2020-02-16 12:13] Berkmann18 commented on #362
I can't tell if there's a configuration/setting problem or if it's due to the version.
Have you tried using the CLI?

[2020-02-16 13:01] Berkmann18 commented on #363
TL;DR: That approach has more cons and than pros so not worth it imo.

The problem with :man_technologist: and :woman_technologist: is that they represent a specific sex (which could be discriminatory to some contributors).
Also, I'm not sure if you read the [point 3 of the specification](https://allcontributors.org/docs/en/specification) but it clearly mentions:

Re: (tl;dr: not using a sex speci

[2020-02-16 13:02] Berkmann18 commented on #320
@KirstieJane Yup, thanks for the reminder.

[2020-02-16 13:02] #320 closed

[2020-02-16 13:13] yedhrab commented on #363
I got it, you're right. also thank you for detailed explanation :)

[2020-02-16 13:13] #363 closed

[2020-02-17 10:01] Berkmann18 commented on #363
No problem :grin:.

[2020-02-18 13:07] mstudento commented on #143
Hi @jakebolam , i'm happy to contribute by helping you out with a Dutch translation!

[2020-02-18 16:41] Berkmann18 commented on #143
@kanyIO Awesome, Swahili is enabled so you should be able to start translating content.

@mstudento Please do.

[2020-02-18 16:47] EsmeeCamille commented on #143
I've also added some Dutch translations!

Kind regards.

[2020-02-20 10:48] mstudento commented on #143
Hi @Berkmann18  i've completed the Dutch translation!

[2020-02-21 01:08] Berkmann18 commented on #143
@mstudento Awesome! Do you or anyone here who helped on the Dutch translation, able to proofread it? I could do that myself but I don't understand Dutch.

[2020-02-21 13:45] smoia commented on #362
I had the same problem in [a repo I'm working on](https://github.com/physiopy/phys2bids/pull/134). I checked the configuration and the settings, all seemed ok. I thought it was due to the fact that I was already using a cotrnibution type that is not implemented yet in the bot, but I see now that it might be independent?

[2020-02-26 13:38] atuttle opened #368 "Docs clarification: What is the default sort order?"
**Describe the bug**
The documentation for both [the bot](https://allcontributors.org/docs/en/bot/configuration) and [the cli](https://allcontributors.org/docs/en/cli/configuration) clearly lists that it's possible to sort contributors alphabetically, but that the default is `false`. It doesn't say how they will be sorted when set to `false`. Presumably the chronological order in which they were a

[2020-02-27 21:31] Berkmann18 commented on #368
They won't be sorted by default (unless you consider ordered-by-insertion a type of sort).

[2020-02-28 15:09] atuttle commented on #368
Sure, I can do that.

[2020-03-10 11:47] wetHands04 commented on #143
I can translate into Russian and Ukrainian.

[2020-03-15 14:07] sk1122 opened #372 "Translate README.md to Hindi also"
I want to translate the README.md to Hindi for Indian Viewers.

[2020-03-15 22:55] Berkmann18 commented on #372
Hi @sk1122, thanks for showing interest in this repo.
I just activated Hindi on https://crowdin.com/project/all-contributors.
Please read https://allcontributors.org/docs/en/project/contribute#translations and get started, if you have any issues please feel free to re-open this issue or comment on #143.
Thank you in advance.

[2020-03-15 22:55] #372 closed

[2020-03-25 22:05] Abdirahiim opened #373 "Bot not responding"
**Describe the bug**
When I try to call the bot it doesn't respond or do a PR

**To Reproduce**
As normal I installed the bot
And tried to call it as following, @all-contributorsbot please add name for code, documentation and maintenance

**Expected behavior**
I expected it to issue a PR but I didn't get any response not even an error

[2020-03-26 00:58] Abdirahiim commented on #373
I reinstalled the bot and that solved the problem

[2020-03-26 00:58] #373 closed

[2020-03-26 10:49] AnandChowdhary opened #374 "Support commit message configuration"
**Is your feature request related to a problem? Please describe.**
It'd be a great idea if we can specify `"commitMessage"` in `.all-contributorsrc` and the bot would make a commit with that message, overwriting the hardcoded messages based on commitConventions.

**Describe the solution you'd like**
Add a key for `commitMessage` in bot configuration.

[2020-03-26 10:56] AnandChowdhary commented on #374
I now see that `commitTemplate` is a CLI argument, which may be used for this.

[2020-03-26 11:04] AnandChowdhary commented on #374
Quick update: Adding `commitTemplate` to `.all-contributorsrc` does not change the commit message done by the bot. Perhaps because this option is not passed to the CLI config?

[2020-03-26 11:12] AnandChowdhary commented on #374
Some quick [Sourcegraph](https://github.com/sourcegraph/sourcegraph) that might help with debugging:

1. In https://github.com/all-contributors/all-contributors-cli/blob/master/src/util/git.js#L65, `options.commitTemplate || commitTemplate` is used, so if `commitTemplate` is part of the passed `options`, it should work.
2. This function is called by the CLI in https://github.com/all-contributors/a

[2020-03-26 13:39] paras-jain commented on #143
I can help with Hindi translations :)

[2020-03-26 16:46] Berkmann18 commented on #143
@paras-jain Great, it's enabled to feel free to start when you can.

[2020-03-27 06:44] piousekl commented on #143
hi, i can help in translating to malayalam

[2020-03-27 12:01] Berkmann18 commented on #143
@piousekl I've enabled that language, feel free to start when you can.

[2020-03-27 19:36] shawndwells opened #375 "Add multiple people in one command"
Currently, only one individual can be added at a time, eg

``<bot> add <person>``

But sometimes multiple people work on things together. Could the syntax be updated to allow for adding multiple simultaneously? For example:

``<bot> add @person1, @person2 for <thing>``

[2020-03-27 22:32] Berkmann18 commented on #375
This should be in issue section of the github.com/all-contributors/all-contributors-bot repo.
It's also a WIP by @jakebolam (cf. https://github.com/all-contributors/all-contributors-bot/pull/127).

[2020-03-29 11:07] paras-jain opened #376 "Broken links"
Hey, I noticed that Romanian translations were complete and ripe for addition to site. While looking for the documentation for doing the same using crowdin CLI, I found that the following two links are broken:
- https://github.com/all-contributors/all-contributors/blob/master/docs/tooling
- https://github.com/all-contributors/all-contributors/blob/master/docs/repository-maintainers

Also can only

[2020-03-29 11:52] gnclmorais commented on #376
Where did you see those links, @paras-jain? They seem to work by adding `.md` at the end:
- https://github.com/all-contributors/all-contributors/blob/master/docs/tooling.md
- https://github.com/all-contributors/all-contributors/blob/master/docs/repository-maintainers.md

[2020-03-29 13:09] paras-jain commented on #376
@gnclmorais in  [all-contributors/docs/emoji-key.md](https://github.com/all-contributors/all-contributors/blob/master/docs/emoji-key.md)
I inspected the emoji-key markdown, the links are wrong. Will submit a PR for the same.

[2020-03-29 13:45] paras-jain commented on #376
Submitted a PR, please review.

[2020-03-29 14:58] Berkmann18 commented on #376
Hi,
I just ran a broken link check and none of the 2 pages seems to have came up.

I just checked on the website and those 2 links aren't broken and I suppose appending `.md` would fix them on GitHub but it will break the documentation section of the website so not a desirable solution (I may be wrong tho).

Make sure, you link the issue to the PR so we can see which one is linked to what.

Thanks

[2020-04-01 23:41] bnb opened #378 "Cannot read property 'then' of null"
**Describe the bug**
Seems that the CLI is currently returning `Cannot read property 'then' of null` on first run in a fresh project.

**To Reproduce**
- run all-contributors init with the following values:
[code]

**EDIT:** Move the .all-contributors config to a parent directory.

- run `all-contributors add`
  - the following will result: `? What is the contributor's null username? `
- enter the

[2020-04-01 23:46] bnb commented on #378
I am very extra, I figured it out. I initiated in the incorrect directory and moved the file to the correct one but continued running the commands in the incorrect directory 🤦‍♂

[2020-04-01 23:57] Berkmann18 commented on #378
@bnb So did you managed to get it to work?

[2020-04-01 23:58] bnb commented on #378
I did indeed.

[2020-04-02 00:13] #378 closed

[2020-04-03 11:24] Abdirahiim opened #379 "Contributions regarding repo cleanups"
There is currently a user who cleaned up my repo by deleting build artifacts and correcting the gitignore file, so I was wondering if you could add a cleanup emoji key to the bot

[2020-04-03 15:51] Berkmann18 commented on #379
That's an interesting idea; I think :construction: (maintenance) covers that kind of contribution reasonably well (since cleaning things is a maintenance task, to me at least).

[2020-04-03 21:06] Berkmann18 commented on #379
@Abdirahiim No, have a look at https://github.com/all-contributors/all-contributors-cli/issues/111#issue-369135884 (tl;dr: it's for anyone who helps in maintaining a repo/project).

[2020-04-04 12:57] Abdirahiim commented on #379
I didn’t know that, Thanks

[2020-04-04 12:57] #379 closed

[2020-04-04 13:58] Berkmann18 commented on #379
No problem :).

[2020-04-07 10:37] redcodemohammed commented on #143
@jakebolam I am working on the Arabic transition. 🙂

[2020-04-07 10:39] redcodemohammed commented on #143
@all-contributors-release-bot please add @redcodemohammed for translating

[2020-04-10 02:11] hernanmd opened #380 ""Enter the @all-contributors bot" exactly where?"
**Is your feature request related to a problem? Please describe.**

Reading "Enter the @all-contributors bot" from the [overview page](https://allcontributors.org/docs/en/bot/overview) does not make it clear exactly where I should "enter" this command (assuming "@all-contributors bot" is the full command).

For people which never used GitHub bots isn't that obvious. Should I create a new issue and

[2020-04-10 15:30] KirstieJane opened #381 "contributorsSortAlphabetically doesn't sort alphabetically using bot"
**Describe the bug**
I've added  `"contributorsSortAlphabetically": true,` to my repo's [`.allcontributorsrc.json` file](https://github.com/alan-turing-institute/the-turing-way/blob/master/.all-contributorsrc#L9). After I added a new contributor the table stayed in the same order and added the new contributor to the end of the table 😕

Here's a link to the table: https://github.com/alan-turing-ins

[2020-04-10 16:21] KirstieJane commented on #381
A little update to this - it works for the command line tool! I've got that installed (its really hard to install on windows but I switched to a linux virtual machine and its going great over there!)

[2020-04-10 17:19] Berkmann18 commented on #381
After getting it to work on your VM, did you still got the error on your terminal?

[2020-04-10 19:35] KirstieJane commented on #381
The terminal always worked - it’s installing all the requirements that I found really hard for windows. This issue is about the bot not ordering the table when it opens a PR. Sorry for mixing two comments together.